[2015-07-01 07:52] kumavis opened #2 "wont compile on osx"
[code]

[2015-07-01 08:02] wanderer commented on #2
moved to secp256k1 repo

[2015-07-01 08:02] #2 closed

[2015-07-01 08:03] wanderer commented on #2
https://github.com/wanderer/secp256k1-node/issues/25

[2015-10-14 12:14] KenKappler opened #6 "Error when installed using NPM"
This may also be linked t this issue raised on the embark framework: https://github.com/iurimatias/embark-framework/issues/99

[code]
npm debug log:
https://gist.github.com/KenKappler/3711fd9c9068f85f00f3

[2015-10-15 02:04] wanderer commented on #6
thanks @KenKappler what OS are you running?

[2015-10-15 08:48] KenKappler commented on #6
MAC OSX el capitan

[2015-10-15 11:33] kumavis commented on #6
guess I wont be upgrading soon...

[2015-10-15 17:22] tcoulter commented on #6
@kumavis you lucky dog. I already did...

[2015-10-16 09:25] KenKappler commented on #6
I'm actually getting the same issue on yosemite as well....

[2015-10-17 01:13] wanderer commented on #6
ok guys this is got a be related to GMP depency not being installed.  secp256k1 has a script to test if gmp is installed or not. I'm guessing it giving a false positive. I would love some help testing this on mac. Could you download https://github.com/wanderer/secp256k1-node/blob/master/utils/has_lib.sh  and run `./has_lib.sh gmpxx`?

[2015-10-19 15:21] tcoulter commented on #6
@wanderer

[code]

[2015-10-20 01:08] wanderer commented on #6
@tcoulter what does  ./has_lib.sh  some_random_button_mashing do?

[2015-10-20 05:14] tcoulter commented on #6
@wanderer

[code]

[2015-10-20 05:15] tcoulter commented on #6
Whoops, looks like I ran the wrong thing:

@wanderer

[code]

[2015-10-21 13:24] wanderer commented on #6
@KenKappler can you please try install the latest version of secp256k1?
`git clone git@github.com:wanderer/secp256k1-node.git`
`cd secp256k1-node`
`npm install`

Let me know what happens! thanks.

[2015-10-22 06:54] taoeffect commented on #6
See related discussion in https://github.com/wanderer/secp256k1-node/issues/35

[2015-10-22 07:50] taoeffect commented on #6
This should be fixed as soon as @wanderer merges https://github.com/wanderer/secp256k1-node/pull/36 and publishes new version to NPM.

[2015-10-22 08:28] wanderer commented on #6
@taoeffect @KenKappler alright just push ethereumjs-tx 0.6.8 with the updated secp256k1

[2015-10-23 23:02] stanacton commented on #6
FYI - I had the same issue after I installed MAC OSX el capitan and I was able to fix it by running the following command:

  xcode-select --install

[2015-11-26 16:39] #6 closed

[2015-12-03 23:48] kumavis opened #7 "Rename parameters to match RPC serialization"
the names are different so i need some boilerplate and i also forget that the keys change sometimes and trip over that

would be nice to just drop it in

rpc results:
[code]

my boilerplate:
[code]

[2015-12-03 23:56] kumavis opened #8 "Make setting "from" parameter less of a hack"
Sometimes we want to record the `from` of a tx to be something we dont have a private key for. uses cases: ( simulation, testing, checking gasPrice ).

Normally the from is calculated from the signature, but theres a hack workaround to overwrite it yourself. The vm looks at `tx.from` to process the state transition.

it would be nice if we could make this less of a hack and incorporate it into the

[2016-01-15 12:50] danielsun174 opened #9 "Signing Contracts with ethereumjs-tx"
I am building a full-web ui which wont store any data at the ethereum-Provider.
Signing transactions with ethereumtx is working like wanted, but i can't figure out how to sign contracts.
When I run 'greeterContract.new( ... )' the signing happens at the provider. Is there any possibility to do this with this js-lib fully locally?

[2016-01-16 23:43] wanderer commented on #9
I'm confused by what you mean by signing contracts. To create a contract you set the `data` field of the tx to the code of the contract you want to create. Then you sign that tx like you would normally.

[2016-01-17 06:05] kumavis commented on #9
Seems like a lot of people are pursuing this pattern. I need to polish + publish + advertise my relevant stuff so people dont duplicate effort. some relevant stuff:
* https://github.com/metamask/provider-engine
* https://github.com/MetaMask/provider-engine/blob/master/subproviders/hooked-wallet.js
* https://github.com/consensys/lightwallet
* https://github.com/ConsenSys/hooked-web3-provider

[2016-01-17 06:11] kumavis commented on #9
@danielsun174 I'm also about a month away from having a drop-in solution for dapp developers that works with or without Mist. Identities are accessible across dapps but safe from malicious code. Only caveat is that it only supports asynchronous web3 methods.

[2016-01-17 07:52] danielsun174 commented on #9
@wanderer when I opened this issue, my knowledge about ethereum was maybe too less.
The javascript-solution looks something like this:
[code]

@kumavis The Provider engine looks realy nice. I will check it out during the next week.

Issue is closed now.

[2016-01-17 07:52] #9 closed

[2016-01-20 14:53] axic commented on #8
@kumavis you could still run a verifySignature and compare if the supplied `from` matches the address used to sign

[2016-01-21 09:27] kumavis commented on #8
that should fail normally

[2016-01-21 16:13] wanderer commented on #7
so we just need to change?
* gasLimit -> gas
* data -> input

input is the weird one. Where is that coming from? Can we rename input to data?

[2016-01-23 17:54] wanderer commented on #7
@kumavis

[2016-01-24 19:47] kumavis commented on #7
These are coming from the RPC running against geth. I like `data` better than `input` and I also like `gasLimit` better than `gas`... hmm maybe just some options in the constructor that will check for these keys as well?

[2016-01-25 04:31] wanderer commented on #7
or add aliases. But doing that mean modifying  [defineProp](https://github.com/ethereumjs/ethereumjs-util/blob/37971507cc9a5c9ad7c9bad59ecd7f2e4a7f0db1/index.js#L417-L495). I have been wanting to remove defineProp and replace it with an independent module. Related https://github.com/ethereumjs/ethereumjs-util/issues/18

[2016-01-26 00:14] kumavis commented on #7
we should also confirm cpp-eth and any other rpc clients behave the same

[2016-02-02 23:52] wanderer commented on #7
@kumavis I added alias for the above properties

[2016-02-03 00:04] wanderer commented on #8
@kumavis `verifySignature`  i think is the equivalent of `isSigned`

[2016-02-03 00:17] wanderer commented on #8
@kumavis do you have any suggestions on how to improve the situation? This [piece of logic](https://github.com/ethereumjs/ethereumjs-tx/blob/master/index.js#L95-L98) is broken already

[2016-02-03 21:25] kumavis commented on #8
@wanderer whats broken about it?

[2016-02-03 21:28] kumavis commented on #8
I agree `verifySignature` is enough and we dont need a `isSigned` flag

[2016-02-03 21:29] kumavis commented on #7
fantaaastico :dancer:

[2016-02-03 21:29] #7 closed

[2016-02-03 21:43] wanderer commented on #8
if you sign, then sign again with a different privateKey the from won't update

[2016-02-06 20:26] kumavis commented on #8
oh!

[2016-02-07 00:07] wanderer commented on #8
no!

[2016-02-13 23:19] aakilfernandes opened #12 "Publish 1.0 to npm"
Looks like it hasn't been published yet =3

[2016-02-13 23:31] wanderer commented on #12
@aakilfernandes ok its up!

[2016-02-13 23:31] #12 closed

[2016-03-10 11:54] slothbag opened #15 "new EthTx and signing produces incompatible tx"
I stumbled across this problem using eth-lightwallet, narrowed it down to this library..

I create a new raw tx then sign it with a private key, I then send it onto geth using eth_sendRawTransaction.  It gets accepted by geth, and I can see the new Tx hash in the console, however the "to:" address looks like `to: &b6d5086e46d1b0e` instead of `to: 0xb6d5086e46d1b0e`

The tx never gets confirmed

[2016-03-10 15:52] wanderer commented on #15
hmm, did you set the gas price?

[2016-03-10 20:44] slothbag commented on #15
yup

[code]

[2016-03-10 20:48] wanderer commented on #15
i just ran this script https://gist.github.com/wanderer/1792fd405e9f1663b0f9 and it worked on geth. Can you try it and see of that works? also what does web3.toHex give back exactly?

[2016-03-10 21:31] slothbag commented on #15
I tried your example, filling in the blanks like private key and replacing the nonce.. same problem, geth shows `to: &123456789`

[2016-03-10 22:04] slothbag commented on #15
geth 1.3.5 and geth 1.4.0-unstable.

transactions via web3.js still work fine

[2016-03-10 23:42] slothbag commented on #15
Unfortunately I don't have another way to generate a raw tx hex string so I can determine if the problem is with the hex string generated or eth_sendRawTransaction/geth

[2016-03-11 00:02] wanderer commented on #15
can you post the serialized transaction?

[2016-03-11 00:05] slothbag commented on #15
Here's the hex version

`f86d86015362fd3c698504a817c80082520894b6d5086e46d1b0e253d645c046e5e468221b8ac0830f4240801ca0430b29c18b57b51aad0202814d164ce95d545dca69e914deaebb2a5c081714d0a01635b842a1c0bb20401a8c6160a9619e44e92d1c0a20e6e8d3d48a2516b19770`

[2016-03-11 07:25] karalabe commented on #15
The nonce seems to be 1457654676585 based on that hex dump. That cannot really be correct :P Nonces must be sequential from 0 on the main network or from 2^20 on the test network. Could you please double check that it's correct?

[2016-03-11 08:10] slothbag commented on #15
Thanks, that seems to be the problem. It seems the & in geth was a red herring.

[2016-03-11 08:10] #15 closed

[2016-03-11 15:23] gGololicic opened #16 "value parameter should be accepted as a string"
If value is converted to number it is rounded due to javascript float rounding and rounding error happens

[2016-03-11 15:28] wanderer commented on #16
all values are converted to Buffers. You can set parameters as hex prefixed strings ei '0xff', `Number`, `Buffer`

[2016-03-12 21:57] kumavis commented on #16
@gGololicic let us know if you have any more questions

[2016-03-12 21:57] #16 closed

[2016-03-17 01:41] wanderer commented on #8
closed; we now have fake.js that takes care of this.

[2016-03-17 01:41] #8 closed

[2016-03-27 19:41] alexykot opened #18 "npm install ethereumjs-tx fails"
`npm install ethereumjs-tx` fails for me with the following [stack trace](https://gist.github.com/alexykot/ccc4beea78b1304dba51).

This happens inside Docker container based on `debian:jessie`, with `npm v3.7.3`, `nodejs v5.9.1`.

[2016-04-03 16:37] SilentCicero opened #19 "Is EthereumJS common "genesis block inclusion" needed for js-tx?"
Right now the ethereumjs-common package is included for js-tx. But is it really needed? Including the entire genesis block every time I want to sign transactions doesn't seem like a good separation of concerns.

Perhaps I'm wrong on this one. But it would save a lot of dependency space for the critical js-tx package. Maybe common/params should be separated. So that we can use the params without in

[2016-04-04 15:17] #19 closed

[2016-04-29 14:35] arthew opened #20 "Transaction.sign failed in other browser except chrome - ECMAScript 6 new feature not supported"
Reference: [https://github.com/ethereumjs/browser-builds/issues/1](https://github.com/ethereumjs/browser-builds/issues/1)

In transaction.sign, the "Object.assign" be used to merge object attributes which is new feature of ECMAScript 6 and had not supported by most type of browser.

In fact, it's not necessary to do that, we can assign attributes value simply here.

[2016-05-02 22:37] kumavis commented on #20
please use the polyfill listed here https://github.com/ethereumjs/ethereumjs-tx/pull/17

[2016-05-02 22:37] #20 closed

[2016-05-26 17:16] axic commented on #18
You are using a **very** old version of ethereumjs-tx, which depends on `secp256k1@0.0.15`. `secp256k1` right now is at 3.1.0

[2016-06-05 04:32] kumavis opened #22 "Property alias does not work for setting with initial parameters"
doesnt

[code]

works

[code]

[2016-06-05 04:33] kumavis commented on #22
guess this is actually a util bug
https://github.com/ethereumjs/ethereumjs-util/issues/40

[2016-06-09 11:51] ArtemKo7v opened #23 "Example is not working"
npm install -g ethereumjs-tx

example.js
[code]

nodejs example.js
[code]

[2016-06-09 20:23] #18 closed

[2016-06-09 20:24] axic commented on #23
ethereumjs-tx depends on ES6 syntax and features. Use nodejs 4 or later or include `es6-shim` in your code.

[2016-06-13 19:39] #23 closed

[2016-06-27 13:42] yogiben commented on #6
@stanacton thanks for alleviating my insanity

[2016-06-29 08:35] jesusdiazvico commented on #6
FWIW, I sitll had the same issue on Ubuntu 14.04.4 (node v.5.4.1 and 3.3.12). Got it working installing secp256k1-node separately as suggested by @wanderer on his message of 21 Oct 2015.

[2016-07-16 14:43] Nexus7 opened #27 "Upgrading version of ethereumjs-util dependency"
Could we please update the version dependency on ethereumjs-util up to v4.5.0 as this would then pull in the correct version of the latest keccackjs which for us at the moment causes issues in our Meteor application...

[2016-07-17 17:27] wanderer commented on #27
published in  1.1.2 :)

[2016-07-17 17:27] #27 closed

[2016-07-18 02:05] theotow commented on #6
@stanacton thanks

[2016-08-16 15:44] 362228416 opened #30 "how get privateKey"
I want use this module send transaction, but I can't get a private key, I has a geth client, and has many address and pass, but has no private key, How get it ?

[2016-08-16 16:24] wanderer commented on #30
there  are lots of ways generate a private key. Here is one of the simplest. (not necessary secure)
[code]
ethereumjs-tx allows you to sign with an `Buffer` or `Uint8Array` of the length 32

[2016-08-16 16:24] #30 closed

[2016-08-16 16:25] wanderer commented on #30
and let me know if that works for :)

[2016-08-16 16:33] 362228416 commented on #30
this private key is safe？

[2016-08-16 16:42] wanderer commented on #30
it gets the entropy from the OS... so "maybe". What you can do to make it safer is run it through a KDF a couple of times and combine it with other sources for entropy.

You could use some like this https://nodejs.org/api/crypto.html#crypto_crypto_pbkdf2_password_salt_iterations_keylen_digest_callback

Where your password here would be the `privateKey`

[2016-08-17 03:44] 362228416 commented on #30
last question , how generate publicKey use this privateKey, I need use it receive transaction, and use privateKey send transaction.?

[2016-08-18 15:09] 362228416 commented on #30
@wanderer help

[2016-08-18 16:08] wanderer commented on #30
@362228416 you can use [ethereumjs-util](https://github.com/ethereumjs/ethereumjs-util/blob/master/docs/index.md#privatetoaddress).

[code]

[2016-08-19 10:34] SolarEnergyCoin opened #31 "demo"
has more demo ?

[2016-08-19 10:38] 362228416 opened #32 "call sendTx , Data seems to be correct, but no effect"
I  was create a transaction,  use the following code:

[code]

output tx data

f86f831000048504a817c80083015f90945f56bba9ee673d0c7bccf4be1a78b9db3a51114d872386f26fc10000801ba08aacd5525b240df3149ead81c2fd4bf3d2c01cc81506a5442f727f92850c4935a07807e5a74e1994a4fce6727fa9422e34d5da83411a8065c14249e9b5845cac3e

then Broadcast Raw Transaction on http://testnet.etherscan.io/pushTx

show following message

[2016-08-19 10:40] #31 closed

[2016-08-20 02:52] 362228416 commented on #32
@wanderer help.

[2016-08-21 08:24] 362228416 commented on #32
it work! thanks.

[2016-08-21 08:24] #32 closed

[2016-11-08 09:09] fanatid commented on #22
#33 should fix this

[2016-11-09 22:06] #22 closed

[2016-11-09 23:57] SilentCicero opened #36 "TypeError: Class constructor Transaction cannot be invoked without 'new' (fake.js:40:26)"
[code]

Just started getting this error due from a TestRPC install using `ethereumjs-tx` module. @wanderer can you make this an es2015 sufficient build? Or address this somehow.

Article for reference:
http://stackoverflow.com/questions/30689817/es6-call-class-constructor-without-new-keyword

[2016-11-10 06:13] johnmiroki commented on #36
Having the same issue running etherumjs-testrpc. Using `truffle migrate` to send code to testrpc, having the exactly same issue.

[2016-11-10 09:44] wanderer commented on #36
I think you can use bable to make es5 builds. I'm not sure how to bundle it though

[2016-11-10 10:18] wanderer commented on #36
@kumavis isn't bin-ops make builds or something?

[2016-11-10 10:18] wanderer commented on #36
I think this is doing some builds https://github.com/ethereumjs/browser-builds But im not sure how it works

[2016-11-11 05:00] #36 closed

[2016-11-18 04:39] cgewecke opened #38 "Syntax error in fake.js"
Getting this error with a freshly installed testrpc on Travis

_/home/travis/.nvm/versions/node/v5.12.0/lib/node_modules/ethereumjs-testrpc/node_modules/ethereumjs-tx/fake.js:32 module.exports = class FakeTransactiosn extends Transaction { ^^^^^_

*SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode at exports.runInThisContext (vm.js:53:16) at

[2016-11-18 16:44] cgewecke commented on #38
Closing: 525e002904ebef9d85bdfb2a7843003ee30b976b

[2016-11-18 16:44] #38 closed

[2016-11-29 02:09] flyswatter opened #42 "Implement replay protection"
Ropsten clients implement [EIP 155](https://github.com/ethereum/EIPs/issues/155) replay protection, and it will probably be implemented in the larger Ethereum sooner or later too.

Would make all JS clients more replay-resilient to include this. [Here's a concise StackExchange explanation of how it works](https://ethereum.stackexchange.com/questions/10211/what-replay-attack-protections-does-ropste

[2016-11-29 02:10] flyswatter commented on #42
Oh hey I just noticed #41 does this!!

[2016-12-14 21:51] #42 closed

[2017-01-04 14:15] mtbitcoin commented on #32
may i know what did you do to get this working?

[2017-01-31 09:17] kumavis opened #49 "remove dependency on genesis blob"
in ethereumjs-common

[2017-01-31 09:46] kumavis commented on #49
fixed in `1.2.5`

[2017-01-31 09:46] #49 closed

[2017-02-06 19:47] superphly opened #50 "Documentation for creating contracts"
The documentation shows some example code for creating a transaction that sends ether from one account to another but it doesn't show how to create a contract tx. I was hoping someone could show some code on how that's done.

In addition, how does one export a signed tx for use on a networked machine. I ask this, because I'm trying to create a console for airgapped machines.

[2017-02-06 20:51] fanatid commented on #50
You can pass contract code to `data` in Transaction params: https://github.com/ethereumjs/ethereumjs-tx/blob/188484c4be1c3cd9e6c1b98d487de9e0d922e84c/index.js#L31
How create data for contract is not related with this repository, read ethereum docs and you find all answers.

When tx will be signed you can serialize it and push/parse on other machine `tx.serialize().toString('hex')` -- return serial

[2017-02-26 11:53] fabioberger opened #51 "Incorrect Hex Encoding for Quantities"
Hi there,

As per the [Ethereum wiki JSON-rpc section on hex encoding](https://github.com/ethereum/wiki/wiki/JSON-RPC#hex-value-encoding) correct encoding of quantities (numbers e.g nonces, etc...) should be the most compact hex representation:

- 0x41 (65 in decimal)
- 0x400 (1024 in decimal)
- WRONG: 0x (should always have at least one digit - zero is "0x0")
- WRONG: 0x0400 (no leading zeroes al

[2017-02-26 15:32] fanatid commented on #51
0x01 was made instead of 0x1 for node Buffer
`Buffer.from('1', 'hex')` thorws `TypeError: Invalid hex string`

Patch which will fix this issue need major version bump.

[2017-02-26 15:35] wanderer commented on #51
This is b/c ethereum TX was written to parse raw TX from the network
directly. Nodes buffer API expects hex number to also be an even number.
This lib should probably be wrapped by something higher level for the RPC.
But I'm open to suggestions!

On 26 Feb 2017 12:53 p.m., "Fabio Berger" <notifications@github.com> wrote:

[2017-02-26 23:14] fabioberger commented on #51
After further investigation, it seems this issue is related to the Buffer classes conversion of bytes to hex. Since a byte is 8 bits, values below 16 will result in the first 4 bits being represented by a zero.

Since the Ethereum spec expects a more compact representation, one solution would be to wrap the Buffer implementation and have the caller specify whether the value being stored in the buf

[2017-02-27 06:25] himanshuoodles opened #52 "AssertionError: The field v must have byte length of 1 on this line " tx.sign(privateKey);" IN Private geth chain"
[I have this code , i want to already signed transaction for ethereum .

  let resData = {};
            var Tx = require('ethereumjs-tx');
            var privateKey = Buffer.from('e331b6d69882b4cb4ea581d88e0b604039a3de5967688d3dcffdd2270c0fd109', 'hex');
            var gasPrice = privateWeb3.eth.gasPrice;
            var gasPriceHex = privateWeb3.toHex(gasPrice);
            var nonce = private

[2017-02-27 07:14] himanshuoodles commented on #32
How you solved that please mention?

[2017-03-01 06:10] tinybike commented on #52
I am also getting this error in the latest (1.2.5) version of ethereumjs-tx.  (I was previously using 1.1.1, and did not encounter this error.)

[2017-03-01 06:11] himanshuoodles commented on #52
This will help you @tinybike . http://ethereum.stackexchange.com/questions/12559/signing-raw-transaction-assertionerror-the-field-v-must-have-byte-length-of-1

[2017-03-01 06:17] tinybike commented on #52
Thanks @himanshuoodles, that is indeed the problem -- test chain has a too-high chainId value.  Well I didn't realize there was a maximum value to network ID when I set it.

[2017-03-01 06:28] himanshuoodles commented on #52
@tinybike  if you are using web3 can you send me privateWeb3.eth.sendRawTransaction whole process because i am in issue in "Error: Invalid sender
    at Object.InvalidResponse " .

[2017-03-01 06:36] tinybike commented on #52
I'm unfortunately not using web3, so I can't help you debug directly... I'm using augur's custom middleware (https://github.com/AugurProject/ethrpc and https://github.com/AugurProject/augur.js) -- the relevant lines in augur.js are https://github.com/AugurProject/augur.js/blob/master/src/accounts.js#L281-L423 if that is helpful.

Are you getting that error when you try to `tx.sign()` or when you t

[2017-03-01 06:37] himanshuoodles commented on #52
Then leave it . I will debug it .Thanks

[2017-03-02 15:51] fabioberger commented on #51
For posterity, `Buffer` does not yet support inheritance. The debate on how to refactor the API is ongoing: https://github.com/nodejs/node/issues/9531

[2017-03-02 20:00] seishun commented on #51
@fabioberger You're welcome to chime in in that thread. It would certainly be helpful to have an example of a real-world use case for extending Buffer.

[2017-03-06 16:21] AlTremor commented on #51
Hello,
I am trying to implement a voting system in nodejs. My server needs to be able to create transactions and send them to the ethereum blockchain when provided with the user private key. I have tried doing so using different modules however I seem to always run into the same issue.
 - The connection with the RPC works fine
 - The transaction seems to be created just right
 - Transaction is reg

[2017-03-06 17:01] MicahZoltu commented on #51
@AlTremor I don't believe this issue is the one you are running into.  It looks like you are simply missing the `0x` prefix on your hex values, and the second one has an extraneous `&` in it.  I'm not particularly familiar with `ethereumjs-tx` so I can't help troubleshoot much, but you may want to try either the [gitter.im channel](https://gitter.im/ethereum/ethereumjs-lib) or opening a new issue.

[2017-03-14 11:39] LogvinovLeon opened #53 "Include precompiled version in node package"
It's a common practice to publish precompiled version of the package on npm, so that we don't require ES6.
We can compile files as a prepublish step.
Do you have smth against it?

[2017-03-28 17:32] serapath opened #54 "browserify with babelify"
I am having problems using ethereumjs-tx in the browser because of es2015 class syntax.
With browserify and babelify i can fix it and wonder if it would make sense to include in the `package.json` here:

[code]
I imagine it doesnt make a difference unless someone is depending on `ethereumjs-tx` and wants to babelify the code to es5 for browser compatibility reasons.

It would also be possible to f

[2017-03-29 19:41] wanderer commented on #54
added and merges

[2017-03-29 19:41] #54 closed

[2017-03-29 20:32] tinybike commented on #54
Hooray!

[2017-04-06 01:38] kumavis opened #56 "EIP155 - fails on chainId's greater than one byte"
infuranet testnet uses chainId `0x16b2`, which fails to sign bc when it sets itself to `v` for hashing, it fails bc `v.length` > 1 byte.

Not sure how well this works with other clients.
This was totally brought up in the [EIP155](https://github.com/ethereum/EIPs/issues/155) thread, with little attention.

[2017-04-06 10:01] EasonWang01 opened #58 "What is the tx data"
[code]

As the example,if we want to sign an transaction with the given field
[code]

why we need to give nonce and chainID and data?

How to using API to get this value?

[2017-04-10 20:29] #56 closed

[2017-04-12 09:29] miladmostavi opened #59 "ES6 code breaks create-react-app build"
Because of ES6 code used in this lib, unejected create-react-app applications break while building.
This lib is also used in eth-lightwallet, and the workaround I used was to add a `postinstall` script to my `package.json` that removes this lib from node_modules. I included this lib in my `src/vendor` directory, added src/vendor to `NODE_PATH` so that eth-lightwallet keeps working.

It would be ni

[2017-04-12 20:56] michbil commented on #58
@EasonWang01 Nonce is your transaction number. Every transaction should have incremented number(nonce). You can use API method web3.eth.getTransactionCount(sender Ethereum address) to get actual nonce.

[2017-04-13 02:53] EasonWang01 commented on #58
How to get the `chainID and data`

[2017-04-13 03:46] michbil commented on #58
Data is your actual code to execute. Take a look at getData method in web3 documentation.
get chainId based on network you're going to use: main net or ropsten

[2017-04-13 03:49] EasonWang01 commented on #58
It only describe about contract data ,but how to compile eth transaction to data?I was using Private Network.

[2017-04-13 04:06] michbil commented on #58
Contract.getData does the thing. Search web3 docs

[2017-04-13 04:07] EasonWang01 commented on #58
But it's not contract.
It's just a raw transaction.

[2017-04-13 04:25] michbil commented on #58
getData generates raw transaction from your contract and contract parameters.

[code]

[2017-04-13 04:26] EasonWang01 commented on #58
There is no contract，only transfer ether from A to B.

[2017-04-13 04:27] michbil commented on #58
then data is empty i guess

[2017-04-13 04:31] michbil commented on #58
Take a look at exisiting transactions sending ether, they have empty data field [](https://testnet.etherscan.io/tx/0x07dcb7534888fa92602a299bc5fde9e6bc6fdd79626c3e0340ea0cb1f2f4e844)

[2017-04-14 06:17] tinybike commented on #59
Seconding this request.  Right now I have a script with this awful little hack in augur.js and ethrpc to compile their distributables:
[code]

[2017-04-29 00:21] flyswatter commented on #52
This was also fixed in later versions of geth that support the EIP 155 fix, which tolerates much higher `v` values.

[2017-04-29 00:22] flyswatter opened #63 "Add ability to toggle EIP 155 replay protection"
I'm not sure if this is possible right now, but we have some users who are using old clients for private blockchains, that don't support EIP 155 replay protection, and cannot recognize the signatures from this module anymore.

It would be nice to have a way of defining whether or not to compute the signature in the new or old value.

[2017-04-29 10:10] fanatid commented on #63
If I right understand the issue before signing you should set `_chainId` property to zero that give you signature in old format.

[2017-04-29 13:20] flyswatter commented on #63
I tried that but wasn't able to verify the signature was the old format. I may just need a better verification strategy...

[2017-04-29 13:21] fanatid commented on #63
Can you paste code for verify here?

[2017-04-29 13:23] flyswatter commented on #63
The last assert in this file:
https://github.com/MetaMask/metamask-plugin/blob/i1357-ToggleEip155Protections/test/unit/tx-manager-test.js

[2017-04-29 13:56] fanatid commented on #63
link to side project is not cool, if you want help please paste code which can be run as test

[2017-04-29 17:29] flyswatter commented on #63
I pasted what I was able to from my phone, I can do something better later. I thought you just wanted to see how I was trying to validate.

[2017-05-13 15:27] #53 closed

[2017-05-13 15:27] #59 closed

[2017-06-03 07:32] rajkumariray opened #64 "var EthereumTx = require('ethereumjs-tx') Unable to resolve module React-Native"
Any One work for this in react-native app. I have install npm and in node modules i am able to find complete folder of ethereumjs-tx but still I am getting error "Unable to resolve module - 'ethereumjs-tx".

Below is my package.json

{
  "name": "MyApp",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "node node_modules/react-native/local-cli/cli.js start",
    "test": "jest"

[2017-06-09 09:52] rajkumariray commented on #64
As this npm doesn't work at my end. I have found another substitute for this below are other npm which can help someone.
npm install ethjs-account , npm install ethjs-signer

[2017-06-20 16:16] itisBaga opened #65 "Uncaught TypeError: (intermediate value).toNumber is not a function"
After trying `const tx = new EthereumTx(txParams);` I received error:

Uncaught TypeError: (intermediate value).toNumber is not a function
    at Object.exports.bufferToInt (main.js:164067)
    at new Transaction (main.js:163711)
    at main.js:78715
    at main.js:58915
    at main.js:185514
    at main.js:185550
    at main.js:185550
    at run (main.js:181001)
    at runIfPresent (main.js:18103

[2017-06-20 16:19] fanatid commented on #65
can you provide `txParams`?

[2017-06-20 16:26] itisBaga commented on #65
Sure.

`let txParams = {
                nonce: this.web3.toHex(this.web3.eth.getTransactionCount('0x' + fromAddress)), // 'b52ead32f0e1ed3530207933a208fe097f6faebf'
                gasPrice: params.gasPrice, //'0x0'
                gas: params.gas, // '0x0'
                from: '0x' + fromAddress, // 'b52ead32f0e1ed3530207933a208fe097f6faebf'
                to: currency, // '0xefcc9f9a5cb3d6062

[2017-06-20 16:32] fanatid commented on #65
please provide `txParams` like object which can be used for receiving error
respect time of other people

[2017-06-20 16:35] itisBaga commented on #65
Okau. I have updated object. But It's call to smart contract in private node. So in mainnetwork gas params should be another.

[2017-06-20 16:39] fanatid commented on #65
this params are valid for 1.2.5, which version you are using?

[2017-06-20 16:40] itisBaga commented on #65
Latest version 1.3.1

[2017-06-20 16:52] fanatid commented on #65
1.3.1 also works...

[2017-06-20 17:15] itisBaga commented on #65
Thank you. Will try to find a bug in other libraries.

[2017-06-20 17:19] fanatid commented on #65
Will close it for now, feel free to reopen if you find fixture for such error.

[2017-06-20 17:19] #65 closed

[2017-06-20 19:02] itisBaga commented on #65
Problem was at bn.js It ddidn't istalled automatically.

[2017-06-20 19:03] fanatid commented on #65
how so?

[2017-06-20 19:21] itisBaga commented on #65
Not sure, but after hours of debugging I found that BN object from Bignumber lib is not defined. Installation of bn.js solved the problem.

[2017-06-24 09:46] TaiPA commented on #64
How to solve this problem ?

[2017-06-25 00:07] MitchK opened #68 "Parse and verify transaction"
Hi,

After I created a raw transaction, how can I

1. Deserialize the transaction from a hex string
2. Verify the signature?
3. Parse the arguments from the transaction?

[2017-06-25 00:24] MitchK commented on #68
Found the solution. You need the ```rlp``` module to decode the transaction string first:

[code]

[2017-06-25 00:24] #68 closed

[2017-06-25 17:16] TaiPA commented on #64
Not find out why yet but if you just use `"ethereumjs-tx": "1.3.1",` it will be OK on react-native 0.45.1

[2017-06-26 05:34] rajkumariray commented on #64
I am in hurry with my project in react-native so we have found another solution on npm i.e. ethjs-account to connect ethereum. If you see my package.json, I have already used ethereumjs-tx": "1.3.1 but still it didn't resolve my issue.

[2017-06-26 10:01] infinityblockchainlabs commented on #64
@rajkumariray
Sorry, my type mistake, `"ethereumjs-tx": "1.3.0",` is correct.
I not try ethjs-account jet. Will try in future.

[2017-06-28 04:58] jefffreey opened #69 "How to browserify?"
Whenever I try to browserify `require('ethereumjs-tx')` (or any other module that depends on it), I get the following error:

How can I browserify this module?

Thanks

[2017-07-12 00:29] kumavis commented on #69
i just got this

seems that since we are exporting es5/index.js
https://github.com/ethereumjs/ethereumjs-tx/blob/master/package.json#L5

we shouldn't have the browserify transform in package.json

cc @tinybike

[2017-07-12 00:37] #64 closed

[2017-07-12 00:43] kumavis commented on #63
if `chainId` is 0, it will use the old signing style
https://github.com/ethereumjs/ethereumjs-tx/blob/master/index.js#L155

[2017-07-12 00:43] #63 closed

[2017-07-12 00:44] #58 closed

[2017-07-12 00:48] kumavis commented on #51
ethereumjs-tx only exposes buffers, not strings. coercing buffers to hex strings is out of scope.
(happy to reopen if i missed something)

[2017-07-12 00:48] #51 closed

[2017-07-12 00:50] kumavis commented on #50
one more note, omit the `to` field in the txParams when preparing a contract publish

[2017-07-12 00:50] #50 closed

[2017-07-12 00:50] #52 closed

[2017-07-12 00:57] kumavis commented on #69
I resolved this by adding `.babelrc` to npmignore and removing the browserify transform from package.json

fixed in `1.3.3`

[2017-07-12 00:57] #69 closed

[2017-07-17 12:04] captDaylight commented on #59
@tinybike Can you elaborate how to implement this hack? I'm in the same boat...

[2017-07-19 16:13] oojr opened #72 "tx.gas not documented"
is tx.gas an override on the gasLimit, it is used in the `example.js` but not sure how it works

[code]

[2017-07-19 20:17] captDaylight opened #73 "es5 doesn't seem to output"
After looking at #62 it seems like the build is still output as es6. Could it be because the .babelrc has been added to the .npmignore?

[2017-07-19 22:56] warren-bank commented on #72
fwiw, `tx.gas` is an alias for `tx.gasLimit`

ie:
[code]

[2017-07-20 16:56] #72 closed

[2017-07-26 13:54] warren-bank opened #74 "question about "hash(false)" when "chainId" > 0"
hello. please correct me if I'm wrong, but my understanding of [EIP 155](https://github.com/ethereum/eips/issues/155) is that the raw data Array that gets hashed should contain the value `0` for the fields: `r` and `s`.

in looking at your implementation of the `hash()` function, it also _appears_ that's what is [intended](https://github.com/ethereumjs/ethereumjs-tx/blob/dab647f12775118bd5b235797e

[2017-07-26 14:17] warren-bank commented on #74
quick bit of tracing later..

the setter calls [`ethereumjs-util.toBuffer(0)`](https://github.com/ethereumjs/ethereumjs-util/blob/b01a58cbaa6d13e61970d5c9d1f7a9967de6ed7e/index.js#L152).. which returns [`ethjs-util.intToBuffer(0)`](https://github.com/ethjs/ethjs-util/blob/a76d4798e18ab78aabd1bb91cef2ebe0b9f2863c/src/index.js#L52).. which return `new Buffer('00', 'hex')`.. which looks good

in [the

[2017-07-26 14:36] warren-bank commented on #74
fwiw, you might want to compare the logic in this setter to [here](https://github.com/warren-bank/ethereumjs-tx-sign/blob/14aaa96f8b49e0bdced13d64161fbda3e2300a80/index.js#L91)

Ideally, I'd like (my repo) to produce output (ie: raw transaction data) that's identical to what's generated by `ethereumjs-tx`.. but this feels like it needs to be fixed. I'm guessing other software would generate differ

[2017-07-28 13:25] pernas opened #76 "Deterministic sign"
If I am not wrong, the signing process seems to use an RNG that way not implementing the deterministic signing process that other libraries like bitcoinjs implement. Is there any reason for that? Are there plans to change it to the standard deterministic signature?

Thanks

[2017-07-30 18:20] fanatid commented on #76
O_O where you found RNG in signing?

[2017-07-30 22:25] pernas commented on #76
Maybe I am following something wrong.

This is ethereumjs sign:
https://github.com/ethereumjs/ethereumjs-tx/blob/master/index.js#L227-L238
which calls:
 https://github.com/ethereumjs/ethereumjs-util/blob/master/index.js#L321-L335
and goes to:
https://github.com/cryptocoinjs/secp256k1-node/blob/master/lib/elliptic/index.js#L180-L202
and ends up in:
https://github.com/indutny/elliptic/blob/master/li

[2017-07-30 22:59] pernas commented on #76
Well, I did not saw that parameter options is mutated here:
https://github.com/indutny/elliptic/blob/master/lib/elliptic/ec/index.js#L91

Hence, `options.k` should be this function here:
https://github.com/cryptocoinjs/secp256k1-node/blob/master/lib/elliptic/index.js#L183-L187

But on this call here there is no third parameter so I understand that nonceFn seems to be undefined:
https://github.com/

[2017-07-31 04:21] fanatid commented on #76
`drbg` is deterministic random bit generator
"random" number `k` (nonce) depends from initial values
algorithm described here: https://tools.ietf.org/html/rfc6979#section-3.2

[2017-07-31 04:36] yanda20056 opened #77 "Deployed contract using ethereumjs-tx, the msg.sender is empyt."

[2017-07-31 07:55] pernas commented on #76
Thanks you very much for clarification and sorry for bothering you. I close that issue

[2017-07-31 07:55] #76 closed

[2017-07-31 09:22] #77 closed

[2017-08-07 11:16] dkent600 opened #78 "uglifyjs can't uglify index.js"
When I run the webpack uglifyjs plugin on index.js, it fails:

It doesn't like `modules.export = class Transaction`

Is there a work-around for this?

[2017-08-07 11:24] dkent600 commented on #78
OK, I was using v1.2.5 and find that your latest version is emitting ES5 and is thus avoiding the problem.  So I'm closing the issue.

[2017-08-07 11:24] #78 closed

[2017-08-10 22:34] axic commented on #73
It was changed with https://github.com/ethereumjs/ethereumjs-tx/commit/32dc30ed772f7064c92c8c652a1cbf0fb4e88a24.

@kumavis ?

[2017-08-10 22:59] captDaylight commented on #73
maybe the build command wasn't run before it was published to npm?

[2017-09-17 12:13] Tarak-Ram opened #79 "Error: Cannot find module 'ethereumjs-tx'"
"IN GETH CONSOLE"

[code]

i already installed the module :
[code]

[2017-09-17 13:13] Tarak-Ram commented on #79
Sorry my bad, i figured out that i need to run that in nodejs console not in geth. :D

[2017-09-17 13:13] #79 closed

[2017-11-28 22:32] 360disrupt commented on #58
@michbil
1) If my method requires two params e.g. `contract.methods.methodA(param1, param2)`
[code]

2) The contract I'm using does not have a function `getData`, `contract.methods.methodA` exists but `contract.methods.methodA.getData` does not how do I get the params into the right format?

[2017-11-28 23:18] benjamincburns opened #80 "FakeTransaction causes hash collisions in ganache-cli"
Ganache/TestRPC experiences transaction hash collisions when the only thing differentiating two transactions is the sender, for example, when two brand new accounts send identical transactions to the same contract.

Example:

I'd expect that in the below code, `tx1.hash()` would not be the same as `tx2.hash()`.

[code]

[2017-12-12 19:50] brenzi opened #82 "can't import ethereumjs-tx: TypeError: hex is not a function"
npm v3.5.2
node v4.2.6
ubuntu 16.04

installed are:
[code]

test.js:
[code]
coinbuntu@coinbuntu:~/ethereum$ node test.js
/home/coinbuntu/node_modules/ethereumjs-tx/node_modules/ethereumjs-util/index.js:31
exports.SHA3_NULL = Buffer.from(exports.SHA3_NULL_S, 'hex')
                           ^

TypeError: hex is not a function
    at Function.from (native)
    at Function.from (native)
    at Objec

[2017-12-13 12:54] fanatid commented on #82
You need update node version.
`Buffer.from` available only from node 4.6.2 IIRC

[2017-12-13 12:54] #82 closed

[2017-12-21 08:18] #80 closed

[2018-01-16 20:02] eswak opened #85 "Create a signed transaction with r/s/v values instead of private key"
Hi guys,

I'm trying to sign transactions in the browser using your module and [LedgerHQ/ledger-node-js-api](https://github.com/LedgerHQ/ledger-node-js-api).

The private key is unknown to me, but their library provides the `r`/`s`/`v` values that should be used for signing the transaction.

I'm not sure why the signature is invalid using the following code, but maybe you guys can see where the pr

[2018-01-19 14:04] holgerd77 commented on #85
Did you do some debugging directly in the [verifySignature](https://github.com/ethereumjs/ethereumjs-tx/blob/master/index.js#L207) method (e.g. by inserting ``console.log`` output there) to see where exactly the signature verification fails? At the end on ``return !!this._senderPubKey``? Or already before?

[2018-01-19 17:53] eswak commented on #85
Hi @holgerd77,

It stops right here : https://github.com/ethereumjs/ethereumjs-tx/blob/master/index.js#L210

I'm not sure what it means though...

[2018-01-19 18:06] eswak commented on #85
Hi @holgerd77, thanks for your response !

I modified the verifySignature as follow to add `console.log` :
[code]
it gives the following output :
[code]
so it appears that it is the `ethUtil.ecrecover` call that raises an exception

[2018-01-20 16:01] eswak commented on #85
Looking at `ethUtil.ecrecover` function, I can see that `v` should have a value of `27 (0x1b)` or `28 (0x1c)` for the signature to be correct, but I get `91 (0x5b)` or `92 (0x5c)`. Maybe the problem is how I use the ledger library function.

[2018-02-12 16:43] tmarkovski commented on #85
Maybe you need to reduce the 'v' by the chainId?
`v -= this._chainId * 2 + 8`

https://github.com/ethereumjs/ethereumjs-tx/blob/80045d78dff14800693916e841eae045339cff37/index.js#L217

[2018-02-17 16:23] woniesong92 opened #89 "Exception when sending a signed transaction"
x-posting from https://stackoverflow.com/questions/48838899/sending-signed-transactions-to-ropsten/48839444#48839444

When I get the `nonce` from my account and sign a transaction, I get the following exception. Is there anything obvious that I'm missing here?

[code]

[2018-02-19 20:46] eswak commented on #85
I tried and it doesn't make much difference (with a `chainId` of `1` (eth main net), `91 - (1 * 2 + 8) = 81`, not equal to the needed `27`

[2018-02-19 23:17] tmarkovski commented on #85
You're right. I see their API gave you `raw.v = '0x' + result.v; // "0x5b"`. I tried looking in their SDK to see if they do anything different, but this is returned from the server. What you can do is try to verify this is try to recover the public key from S and R using secp256k1 by passing 0 and 1 as V and compare that to the public key that belongs to the key pair trying to sign the tx. You sho

[2018-02-20 13:57] eswak commented on #85
Hi guys,

I managed to work things out !!

The raw transaction object needs to be initialized with the `chainId` in its `v` value before signature. As follows :
[code]

Otherwise, the signature was invalid.

This line from MEW code hinted me to the right direction : https://github.com/MyEtherWallet/MyEtherWallet/blob/00a84ec0c5f49d143e036c902c14496fa659593d/common/libs/wallet/deterministic/ledger.

[2018-02-20 13:57] #85 closed

[2018-02-20 14:01] eswak commented on #85
@tmarkovski I didn't have to do it like you suggested but that would've worked you're right ^^
An alternative check would've been to call `tx.verifySignature()` with different values of `v` until it would've been correct... lol

With the solution I commented, it gives correct values for `v`/`r`/`s` so no need for dirty workarounds

[2018-02-28 17:35] jwasinger opened #90 "'0x' should be automatically detected/prepended to transaction data"
Ran into this today and it took a little while to figure out because ethereumjs-tx was failing silently in this case.  I'll see if there are other fields that have the same issue.

[2018-03-07 05:16] woniesong92 commented on #89
This was because I was trying to overwrite an existing transaction with the same nonce.

[2018-03-07 05:16] #89 closed

[2018-03-07 09:47] holgerd77 commented on #80
This is now REALLY fixed/closed by a new minor release [v1.3.4](https://github.com/ethereumjs/ethereumjs-tx/releases/tag/v1.3.4) on npm, sorry that it took so long.

[2018-03-13 13:20] sathyamlokare opened #91 "TxReciept Status Failed while deploying a contract"
Why is contract creation failing here, I have tried with almost all the version of web3, its still failing.

Can anyone try to solve this

[code]

Here is the transaction history https://rinkeby.etherscan.io/address/0x7fb11f6a52e20bdffaa08c468cd4848b901b7b70

[2018-04-05 23:30] jackson-sandland opened #92 "When npm installing ethereumjs-tx install fails"
Seeing:
No compatible version found: web3-utils@^1.1.0
after attempting to install via npm.

[2018-04-05 23:45] jwasinger commented on #92
Can we get some more information about your environment? NodeJS/NPM Version?  I can't reproduce this on my own machine.

[2018-04-06 07:53] jackson-sandland commented on #92
This has been resolved.

[2018-04-06 07:58] #92 closed

[2018-04-08 09:44] KuoRave opened #93 "About to get private key from demo"
[code]
what is the 'e331b6d69882b4cb4ea581d88e0b604039a3de5967688d3dcffdd2270c0fd109' mean?
how should i get this value?

[2018-04-08 09:53] #93 closed

[2018-04-21 21:20] shahzadthathal opened #95 "use Buffer in simple html pages"
Is there any way to use Buffer in simple web page actually I don't have nodejs app.
I included ethereumjs-tx in my app buy Buffer is not working.

This is working but Buffer class not found.
<script src="{{ asset('browser-builds-master/dist/ethereumjs-tx/ethereumjs-tx-1.3.3.min.js') }}"></script>

Thanks in advance

[2018-04-25 15:04] holgerd77 commented on #95
Please keep the discussion on the single issue in ``browser-builds``, this gets too fragmented otherwise.

[2018-04-25 15:04] #95 closed

[2018-05-24 12:22] PaulRBerg opened #96 "err: Error: base fee exceeds gas limit when values are correct"
##Expected
Token transaction should execute successfully.

##Behaviour
The base fee exceeds the gas limit, when that's not the case. The gas limit I set is 0xEA60, which in decimal is 60,000, definitely lower than Ganache's block gas limit of 6,721,975.

##Tools
• ethereumjs-tx: `0.0.5`
• web3: `0.20.6`
• ganache (UI): `1.1.0`
• node: `9.3.0`
• OSX: 10.13.3

##Code
[code]

Full log ouput [here](ht

[2018-06-09 06:41] jwasinger opened #98 "Broken Example"
The [code](https://github.com/ethereumjs/ethereumjs-tx/issues/90) gives the following error:

[code]

[2018-06-10 09:47] ChandraNakka opened #99 "ethereumjs-tx generates wrong signature"
I'm using this below example code to prepare transaction signature

[code]

Above code is generating this below signature (**wrong signature**)
[code]

But, MyEtherWallet generates this signature (**working signature**)
[code]

This is my configuration:
[code]

[2018-06-10 18:57] fanatid commented on #99
@ChandraNakka can you paste example how I can generate signature with MEW?
How you identified that signature generated by this lib is wrong and MEW is right and working?

[code]

Result:

[2018-06-10 19:04] fanatid opened #101 "Should verifySignature really verify signature?"
Right now method [verifySignature](https://github.com/ethereumjs/ethereumjs-tx/blob/a73cc663b6f46b995a9b1be1e18ac8dc4d89d2f0/index.js#L207) just restore public key from signature, but does not really verify that restored public key corresponds to private key which was used for signing transaction. Should we restore public key and then verify signature with it right after?

[2018-06-10 19:19] fanatid commented on #74
When checked code, I asked myself about same question. Also if chainId is not zero and tx already have signatures they will be lost. Ping @holgerd77

[2018-06-10 19:52] fanatid commented on #99
@ChandraNakka issue related with https://github.com/ethjs/ethjs-util/issues/8
When `ethjs-util` will be fixed, signatures will be right (I already tested with old libs and all fine).
I tested code with ethjs-util@0.1.6 (contain bad code).
Probably https://github.com/ethereumjs/ethereumjs-tx/issues/101 should help avoid such situations.

[2018-06-10 19:52] #99 closed

[2018-06-13 03:42] kelvinkuo opened #102 "encounter error when decode tx raw data"
I scanned the ethereum main chain, tx_hash = 0x0fc8f1cb5112c4679dfcbde54306cabecedfbfd115030252b2e3d77ed7b7da8c.
decode the input and there is a error msg "Decoded int exceeds width: 160 vs 256 "

ethereumjs-tx version 1.3.4

[2018-06-14 08:55] fanatid commented on #102
[code]

be sure that you do not use ethjs-util@0.1.5 (https://github.com/ethereumjs/ethereumjs-util/issues/132)

[2018-06-14 08:55] #102 closed

[2018-06-17 19:22] jlstr opened #103 "What exactly goes in the data field?"
https://github.com/ethereumjs/ethereumjs-tx/blob/a73cc663b6f46b995a9b1be1e18ac8dc4d89d2f0/examples/transactions.js#L15

Moreover, how can I interact with a Contract's non-constant method? How can I sign such a method call?

[2018-06-22 12:51] fanatid commented on #101
ping @holgerd77

[2018-06-25 11:13] holgerd77 commented on #101
Hi Kirill, thanks for your PR on this, just for some context: I am not so super-deep into this library so it always takes me some time to dig into stuff like this and understand the implications.

If someone else also want to comment on this or give an assessment, that would also help.

[2018-06-26 08:56] nolash opened #106 "Contradiction in docs"
From this page:

https://github.com/ethereumjs/ethereumjs-tx/blob/master/docs/index.md

Example below it has no 0x

[code]

which is correct?

[2018-06-26 09:53] holgerd77 commented on #103
Information on this can easily be found on Google, please don't misuse the issue tracker as a support forum and use e.g. the Gitter channel for stuff like this https://gitter.im/ethereum/ethereumjs. The better you describe your issue the greater the chance that someone will be willing to help there.

Will close this one here.

[2018-06-26 09:53] #103 closed

[2018-06-26 09:54] holgerd77 commented on #106
Explanation suggesting the ``0x`` prepending is correct, have submitted and merged a PR https://github.com/ethereumjs/ethereumjs-tx/pull/107 with updated example code.

[2018-06-26 09:54] #106 closed

[2018-06-26 09:55] holgerd77 commented on #98
Adressed in https://github.com/ethereumjs/ethereumjs-tx/pull/107, will close.

[2018-06-26 09:55] #98 closed

[2018-06-28 14:54] frgtn opened #108 "includeSignature change breaks ganache-core contract deployment"
Change to how includeSignature default value is handled in `FakeTransaction.hash` method introduced in b49d3ca0e86a9b7c1f0b03f46fd9b7804da454c1 (#94) broke `ganache-core` contract deployment.

Contract deployment now fails with: `Error: nonce generation function failed or private key is invalid`.

The problem is that previously FakeTransaction attempted to generate the signature only if `this._fro

[2018-06-28 19:35] holgerd77 commented on #108
Ah yes, tested this locally and could reproduce the error. Sorry for that, merged this too thoughless since this was coming from the MetaMask side so I somehow assumed that this should be safe.

What would you suggest? Would it be a way to just use a random different private key for fake tx signing when ``from`` is set to the zero address? Or should this in your opinion be completely reverted?

[2018-06-28 20:01] frgtn commented on #108
I think that removal of `&& this._from` check before attempting to generate a signature could've been accidental while cleaning up codebase, so my suggestion would be to reintroduce it. Rationale behind the thinking is that the signature can't be generated without `this._from` anyway.

What you're suggesting could also work because the key used to generate a signature was constructed from the `thi

[2018-06-29 06:17] frgtn commented on #108
Added a failing test case for this in #109 as well as a trivial fix by setting default from address to `0x0000000000000000000000000000000000000001` instead of zero. This makes secp256k1 stop complaining about invalid key. Not sure what implications for this are though.

[2018-06-29 12:00] holgerd77 commented on #108
Hmm, hmm 😄, another take on this after a third and fourth thought: things are a bit more complex and also a bit tricky. Since these changes were introduced in minor releases I think it gets to harsh with throwing an exception on this and this will probably cause unnecessary trouble for other libraries. And maybe this is also not necessary considering the fake nature of this.

I think I will just r

[2018-06-29 12:40] holgerd77 commented on #108
Ok, this https://github.com/ethereumjs/ethereumjs-tx/pull/110 would be my suggestion for a fix, I think this should be the most non-intrusive way balancing a bit the needs of existing libraries and the already done API changes.

[2018-06-29 12:57] LogvinovLeon commented on #108
We've bumped into that because ganache-core was generating the same transaction hash no matter what was the from address. Because it was calling `tx.hash()` without the parameter assuming the documented behavior instead of the actual one. If this new version fixes that - I'm OK with it. The only thing I'd like to mention is that those changing are breaking and it would probably we safer to introdu

[2018-06-29 13:08] holgerd77 commented on #108
@LogvinovLeon Yes, thanks, I also thought longer about this this morning. I will then go the complete way and undo both PR changes from ``v1.3.5``, deprecated this package, release as a new version ``v1.3.6`` and release the default value change as a new ``v1.4.0`` release. This might cause a bit in-between hazzle with the breaking release already out but on-mid term definitely the cleanest way.

[2018-07-02 09:24] #108 closed

[2018-07-02 09:39] holgerd77 commented on #108
a) One last last (hopefully :-)) thing on the default value: after thinking about this over the weekend and have another look I think we can leave this in the ``1.3.x`` version range. This was inconsistent behavior before: When ``FakeTransaction.hash()`` was called in the old version, ``includeSignature`` was regarded as ``false`` but passed on to ``Transaction.hash()`` where this was taken as ``t

[2018-07-02 10:23] holgerd77 commented on #108
Ok, just released v1.3.6 https://github.com/ethereumjs/ethereumjs-tx/releases/tag/v1.3.6 with the fix.

[2018-07-04 15:10] kipliklotrika opened #113 "Self signed TXs doesn't work"
Self signed transactions doesn't work anymore.

It seems that this commit https://github.com/ethereumjs/ethereumjs-tx/commit/2dfdae9d7397e394488c206ac68990eccae4bafd broke that functionality. Particullary in this line:
[code]
This line will invoke setter of `from` property which will call `Buffer.from(val)`, where `val` is undefined. In that case `_from` property will hold `Buffer{0}`. Later, this

[2018-07-05 11:55] holgerd77 opened #114 "Add tests for inherited FakeTransaction functions"
Test coverage for ``FakeTransaction`` is showing [100%](https://coveralls.io/github/ethereumjs/ethereumjs-tx). This is very misleading since all the inherited functionality stays untested from a ``FakeTransaction`` context.

There where different bugs introduced with recent updates https://github.com/ethereumjs/ethereumjs-tx/issues/108 or https://github.com/ethereumjs/ethereumjs-tx/issues/113 whic

[2018-07-05 11:56] holgerd77 commented on #113
Hi @kipliklotrika, thanks for reporting, on a pre-note: just realized that our test coverage reporting for FakeTransaction (100%) is highly misleading.

Have opened an issue on this: https://github.com/ethereumjs/ethereumjs-tx/issues/114

[2018-07-05 12:00] holgerd77 commented on #113
I am not completely getting the context of this, this line ``this.from = (data && data.from) ? data.from : '0x0000000000000000000000000000000000000000'`` was only out for a few couple of days with the [v1.3.5](https://github.com/ethereumjs/ethereumjs-tx/releases/tag/v1.3.5) release directly followed by the [v1.3.6](https://github.com/ethereumjs/ethereumjs-tx/releases/tag/v1.3.6) release switching

[2018-07-05 12:36] kipliklotrika commented on #113
I came upon the error by running self-signed transaction on the Ganache.
Top of the stack trace:
[code]
In runTx.js function tries to check balance and invoke .from getter in:
[code]
In mentioned case above, `from` will always be Buffer{0}.

I hope this description helps?

[2018-07-06 11:59] holgerd77 opened #115 "Update official Transaction tests"
The tests in ``test/transactionRunner.js`` are running on an extremely outdated (3+ years!) version of the official Transaction tests, using the ``ethereumjs-testing`` dependency in version ``0.0.1``.

This should be updated to see if the latest tests pass through.

[2018-07-06 12:20] holgerd77 commented on #115
Additional notes: Transaction tests have since switched to a completely new format, see https://github.com/ethereum/tests/issues/373. So there would be the need to come up with a new structure on this.

[2018-07-09 23:35] benjamincburns commented on #113
@holgerd77 - just a heads up that this one caused me a bit of pain - had to do a late night re-release of `ganache-core` and `ganache-cli` once I realized caller-signed transactions were universally broken.

On the bright side it shined a light on a nasty flaw in our testing & dependency management. This issue wasn't visible to `ganache-core`'s tests because its `package-lock.json` had us pinned t

[2018-07-10 08:48] holgerd77 commented on #113
@benjamincburns Sorry for that. I'm just started looking deeper into this library and realized that it could generally be in a better shape. Will put some emphasis on this in the upcoming weeks but it will need some time until we are on a better ground here.

Do you have got a proposed fix for the issue described above? Still not 100% sure how best to handle this.

[2018-07-17 13:01] arunsybex opened #117 "How to import 'ethereumjs-tx' in to angualr 6."
![screenshot from 2018-07-17 18-27-56](https://user-images.githubusercontent.com/20275068/42818676-2a6bd9dc-89ef-11e8-809d-87de46dc99b9.png)

[2018-07-21 16:50] #117 closed

[2018-07-24 19:46] ajhodges commented on #113
Pretty confident that I've addressed this issue in #118. Thanks to @kipliklotrika for finding this!

[2018-07-25 08:45] #113 closed

[2018-08-07 02:32] themotu commented on #64
Issue still exists

[2018-09-06 11:34] Lursun opened #120 "How get unsigned transaction (hex string) ?"
How get unsigned transaction (hex string) and from unsigned transaction(hex string) to signed transaction ?
[code]

[2018-09-21 09:53] holgerd77 commented on #120
You have to provide context on what is not working for you, e.g. by providing the console output you get.

[2018-09-21 10:01] holgerd77 commented on #91
Will close, since this is too long ago and not sure if cause is really by the tx library. Sorry that there was no one for assistance at time.

[2018-09-21 10:01] #91 closed

[2018-09-21 10:05] holgerd77 commented on #73
No complaints on this for a longer time, will close.

[2018-09-21 10:05] #73 closed

[2018-10-26 01:05] appstoreko opened #121 "I get an error when running truffle migrate command"
[root@qssd5-0155 /usr/local/src/my-ico]# truffle migrate
Using network 'development'.

Running migration: 2_deploy_contracts.js
  Deploying OpenchainCoinCrowdsale...
  ... 0x8dffa459d4f0428f88c5e5f4bd4d1df5743caf3f9a6ae432645e5c1902c41e3e
Error encountered, bailing. Network state unknown. Review successful transactions manually.
Error: The contract code couldn't be stored, please check your gas am

[2018-10-27 00:00] gasparyanyur opened #122 "Can not send transactions"
I have a online shop where users can recieve `ETH` and do shopping.
So to have a secure wallet, I have created an offline service which generates `xpub` and `xpriv` which I  use to generate addresses in my online service.

I am using `xpub` in my online service to genreate addresses for users and using `xpriv` in my second offline service to send transactions.

Here is a code which generates `xpub

[2018-11-09 14:51] fibice3 opened #123 "Signing data and signing hash are not according to EIP-155"
I tried to reproduce the example from [EIP-155](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-155.md) and the results are not the same.

My code is:
[code]

The signing data in RLC-Encoding is:
[code]
Instead of:
[code]
The difference is that the `v` is not replaced by `chainId `.

The signing hash is also different because the signing data are different.

The signed transaction remains th

[2018-11-27 04:11] danjm commented on #122
@gasparyanyur It looks like you are using the extended private key instead of the private key. You can learn a little more about the difference here: https://bitcoin.stackexchange.com/questions/50028/difference-between-master-public-private-key-and-public-private-key

The `ethereumjs-tx` sign method ultimately calls the `secp256k1` sign method (https://github.com/cryptocoinjs/secp256k1-node/), whi

[2018-11-28 13:02] holgerd77 commented on #122
@danjm Thanks for figuring this out. 👍 Will close this now.

[2018-11-28 13:02] #122 closed

[2018-12-03 22:57] davidmurdoch commented on #123
@fibice3, I'm looking into ensuring correct transaction hashes in ganache-core and came across this issue. I can't reproduce your findings.

Running the code above with ethereumjs-tx@1.3.7 I get:

[code]

which matches the example output in [EIP-55](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-155.md).

[2018-12-03 23:05] davidmurdoch commented on #74
Related to the behavior of `utils.stripZero` and this issue: https://github.com/ethereumjs/ethereumjs-util/issues/141

[2018-12-05 14:21] fibice3 commented on #123
@davidmurdoch It's strange. Running the code above with ethereumjs-tx version 1.3.7 I get:
[code]

[2018-12-05 16:43] davidmurdoch commented on #123
@fibice3, It seems I ran the code incorrectly yesterday. I ca, in fact, reproduce your results.

`tx.hash()` will always produce a hash that includes the signature parameters by default. If you want to _not_ include the signature in the hash use `tx.hash(false)`, which will give you the signing hash; `tx.sign(key)` uses `tx.hash(false)` internally.

`tx.hash()` and `tx.hash(true)` will create a ha

[2018-12-05 19:33] fibice3 commented on #123
@davidmurdoch, the issue is that the signing data are always wrong.
[code]
Instead of:
[code]

[2018-12-05 19:52] davidmurdoch commented on #123
Ah, I see it now. Thanks for pointing it out! I'll look into this for ganache-core's implementation.

[2018-12-05 23:34] davidmurdoch commented on #123
@fibice3 I'm currently monkey-patching ethereumjs-tx in a ganache-core branch. The new hash method that seems to pass EIP-155 is here: https://github.com/trufflesuite/ganache-core/blob/3483bbc8d73d84efe5ed3f766e7ae9ce8b1beb42/lib/utils/transaction.js#L300-L329

Another key bit of monkey-patching specific to a `Transaction` created from a signedTransaction is https://github.com/trufflesuite/ganache

[2019-01-04 16:45] danjm commented on #123
The issue here is that the `tx.serialize()` method uses the raw data and does not correctly apply the rules from EIP155. Those rules are, however, properly applied in other methods (e.g. `hash()`)

This should be resolved by https://github.com/ethereumjs/ethereumjs-tx/pull/124

I will look into adding a failing test for this case:

- [ ] Add failing test for `tx.serialize()` when the transaction i

[2019-01-04 16:53] danjm commented on #123
@davidmurdoch Are those monkey patches necessary for ganache-core specific requirements? Any thoughts on whether the handling of the updated v values should be supported by `ethereumjs-tx`?

[2019-01-04 19:43] danjm commented on #120
@Lursun The example in this repo (https://github.com/ethereumjs/ethereumjs-tx/blob/master/examples/transactions.js) walks through how to create an ethereumjs-tx instance, edit the transaction data and then sign it with a private key.

If you wish to send that transaction over a network, you likely want to use web3. This example should be helpful in that case: https://github.com/ethereum/wiki/wiki/

[2019-01-04 20:20] danjm commented on #101
@fanatid Can you clarify: do you mean doing verification beyond what `ethUtil.ecrecover` does? See: https://github.com/ethereumjs/ethereumjs-util/blob/master/index.js#L383-L391

[2019-01-04 21:38] danjm commented on #74
This will likely be resolved when we resolve https://github.com/ethereumjs/ethereumjs-tx/issues/112

[2019-01-04 22:51] #120 closed

[2019-01-06 18:52] fanatid commented on #101
`ethUtil.ecrecover` does not do any verification, it's only trying recover public key.
What I thought, should we check recovered public key against signature in transaction and msg hash? Because this will reflect method name `verifySignature`.

[2019-01-07 07:55] etherCrossroads commented on #68
please how can i import rlp module?

[2019-01-07 15:14] danjm commented on #68
@etherCrossroads see installation instructions and usage example here: https://github.com/ethereumjs/rlp#install

[2019-01-08 15:09] syrakozz opened #133 "create an issue and sign and verify"
hi can i use this library for creating an issue and sign and verify,  a human certificate ? if so can you plz help me with me a quick start example

[2019-01-08 15:46] s1na commented on #133
Hi @syrakozz. Can you please elaborate on what you mean by a human certificate?

[2019-01-08 18:07] syrakozz commented on #133
hi @s1na i mean like school cerfificate i am trying to do this , https://www.blockcerts.org/assets/img/pictures/howitworks.jpg but with ethereum js

[2019-01-21 07:01] syrakozz opened #134 "send data as a transaction"
i have a file pdf i need to submitted to blockchain when i should put it in the VALUe or DATA parameter in TX object and how i should convert it

[2019-01-21 09:22] holgerd77 commented on #134
Please don't use the issue tracker as a support forum, this is meant to file bugs or discuss library improvements.

You can try on [Gitter](https://gitter.im/ethereum/ethereumjs) if there is anyone within the community who can help you with your issue.

[2019-01-21 09:22] #134 closed

[2019-01-28 02:39] ldlqdsdcn opened #135 "How to call contract by this library？"
Do you have an example of calling a contract offline?

[2019-01-29 13:00] holgerd77 commented on #135
This library is just for creating and signing transactions and not for calling contracts.

Please generally ask questions like this on the [Gitter](https://gitter.im/ethereum/ethereumjs) channel, the issue tracker is there for report issues and bugs and discuss improvements on the library.

Thanks!

[2019-01-29 13:00] #135 closed

[2019-01-30 13:57] JohannesMayerConda opened #136 "Documentation: Add used unit as comment to examples"
I saw the README and the index.md under docs with their examples but I'm not completely sure about the units. It has been asked on [ethereum.stackexchange](https://ethereum.stackexchange.com/questions/41935/when-constructing-a-transaction-what-is-the-unit-of-the-value-field)  what the unit of the value field is. And I am currently not 100% sure what unit the gas limit and gas price is.

A simple c

[2019-01-30 16:13] JohannesMayerConda commented on #136
For the reader until "fixed":

correctness can be verified/estimated via:
const txParams = [my-params]
const tx = new EthTx(txParams)
const txCost = tx.getUpfrontCost()
console.log("tx upfront cost: " + txCost + " (" + web3Inj.utils.fromWei(txCost, 'ether') + "ETH)")

This should print ETH costs with a realistic value. Gas price and limit seems to be in unit wei converted to hex it seems...

[2019-02-08 06:30] aaroncolaco opened #137 "Should throw error if chainId not specified"
Based on EIP155 chainId is used for replay protection.
web3.js includes it by connecting to the chain if not specified.
ethereumjs-tx does not do that returns a tx even when chainId is unspecified.

Based on the code at [index.js#L259](https://github.com/ethereumjs/ethereumjs-tx/blob/master/index.js#L259) it appears as though the chainId is never included in the signature.

There are no tests I co

[2019-02-15 14:38] siner9586 commented on #64
undefined
**### > Tx = require('ethereumjs-tx');
[Function: Transaction]**

[2019-03-11 23:57] chikeichan opened #139 "Update .travis.yml to include nodejs v11"
# Description
Referenced [this issue](https://github.com/ethereumjs/organization/pull/50)

When adding node.js v11 to .travis.yml, the following error happens during `npm install`

[code]

[2019-03-14 03:11] sc0Vu opened #140 "Signing data returns wrong signature"
Hi,

Thanks for this great library. Recently I try to sign transaction, it returned signature with wrong length (r: 31 bytes, s: 32 bytes). After debug deeply, found out that if the first bytes is 0, the library will remove.

Data:
[code]

Do you have any idea about this?
Thanks!

**UPDATE by @alcuadrado: These two signatures are valid. They are equivalent when RLP-encoded, and that's how the Ethe

[2019-03-14 03:17] sc0Vu commented on #140
Found out this: https://github.com/ethereumjs/ethereumjs-util/blob/master/src/object.ts#L50

[2019-03-14 11:45] mushketyk opened #141 "Incorrect hash for private unsigned transactions"
I am trying to calculate a hash of a private Quorum transaction locally, without relying on a hash returned by `web3`. I've managed to do this for (locally) signed transactions, but I can't make `Tx` class to return correct hash for an unsigned private transaction.

Here is the code that I am using:

[code]

Where `rawTx` is the following object:

[code]

I get the following hash for this transact

[2019-03-15 09:48] s1na commented on #141
I'd have to look deeper, but if I have to make a guess, it'd have something to do either with the fields in `rawTx` (`from` and `privateFor` are not taken into account in the `Tx` class), or `chainId`. Can you try to incrementally go from a `rawTx` that outputs the correct hash to the `rawTx` you want to pinpoint what's causing the problem?

[2019-03-15 10:31] mushketyk commented on #141
@s1na Thank you for looking into this. The problem now is that I can't get a `rawTx` that would generate a correct hash. I would try to remove the `from` and `privateFor` and see if this works.

[2019-03-15 11:58] mushketyk commented on #141
@s1na I've tried removing `from` and `privateFor` from the `rawTx`, but it didn't help.

Here is how I get the chain id:

[code]

[2019-03-15 16:06] mushketyk commented on #141
I think the answer to this is described in this paragraph from the [Quorum documentation](https://github.com/jpmorganchase/quorum/wiki/Transaction-Processing):

So it seems that Quorum replaces the body of the transaction with the hash, and it seems that it hashes the result transaction.

[2019-03-15 16:11] holgerd77 commented on #141
@mushketyk Thanks for clarifying, will close.

[2019-03-15 16:11] #141 closed

[2019-03-15 16:16] mushketyk commented on #141
I've created an issue in Quorum here: https://github.com/jpmorganchase/quorum/issues/657

[2019-03-22 22:20] chikeichan opened #142 "TypeScript Migration"
From Pato (Nomic)

`We are really interested in the migration to TypeScript, as we use TS for everything in Buidler. Some of the few places where we have untyped code is due to ethereumjs-tx, so we'd love it to be typed. All of its dependencies are already in TS, so migrating it should be straightforward.`

Would love to kick off a discussion on whether this is needed/desired. Specifically trying

[2019-03-31 06:38] danjm commented on #101
Sorry for the slow delay. I've just finished making some improvements to the code, and should be able to resolve this quickly now.

Okay, I think I see what you are saying, I need a little more clarification.

Right now, `verifySignature` passes the signature values (`v`, `r`, and `s`) and the msg hash to `ecrecover` to retrieve the public key. Are you proposing that we should then use the newly r

[2019-03-31 06:53] danjm commented on #142
@chikeichan I believe it has been concluded that this is desired. See some discussion here: https://github.com/ethereumjs/organization/issues/28 and the plan on the organizational roadmap: https://github.com/ethereumjs/organization/blob/78199a9ab5462274cf645813549dad0278b12e01/docs/roadmap.rst

For ethereumjs-tx, there may be some bigger redesign needed anyway. We may want to do this prior too, or

[2019-03-31 07:12] danjm commented on #137
Thanks for giving consideration to this issue @aaroncolaco and @danoctavian

The [EIP](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-155.md) does not say that chainId is necessary. Instead it says "The currently existing signature scheme using v = 27 and v = 28 remains valid and continues to operate under the same rules as it does now."

The chainId is not meant to be included in the signa

[2019-03-31 07:13] danjm commented on #121
Closing for now due to inactivity. Feel free to open another issue if you are still having problems using this repo

[2019-03-31 07:13] #121 closed

[2019-03-31 16:27] fanatid commented on #101
Yes, I propose that after public key recovering library should verify signature against this key.

[2019-04-08 13:38] alcuadrado commented on #142
Hi @danjm, thanks for pointing to those links.

My original plan was to just add types to the library. I wasn't aware of a plan to redesign it, but I'm open to it.  After working a little more with the library I see your point.

I also noticed that it's based on ethereumjs-util's [defineProperties](https://github.com/ethereumjs/ethereumjs-util/blob/master/src/object.ts#L17), which has been depreca

[2019-04-10 09:25] holgerd77 commented on #142
@alcuadrado you can read up on this PR https://github.com/ethereumjs/ethereumjs-account/pull/27 for the account library on the state of the defineProperties discussion, the method-removing code didn't make it in the final version though, mainly for temporary compatibility considerations.

This is also some good TypeScript transition reference PR one can go along, since we also updated lots of tool

[2019-04-10 15:07] s1na commented on #142
One alternative to `defineProperties` (it's still quite similar) could be defining an `RLPField` type, which takes the configurations necessary for validation in its constructor and has a getter and setter method (maybe also type conversions). Then in `Transaction` we'd define all the fields explicitly with the type `RLPField` and also add a setter/getter for each of them that calls the `RLPField`

[2019-04-11 07:34] s1na commented on #142
Oh, and since re-structuring is being discussed, I'd like to ask for comments on something else I've been thinking about (from https://github.com/ethereumjs/ethereumjs-vm/pull/494):

[2019-04-13 22:44] alcuadrado commented on #142
I branched off #144 and started migrating this library. I'll submit a PR in draft mode, as there are multiple things that I'd like to get feedback about. I went with Chris' approach, as I don't want to introduce breaking changes. Once typed, refactoring should be easier.

@s1na's ideas are rinteresting, should we keep that discussion here, or create a more general issue somewhere else?

Do you mea

[2019-04-14 19:34] #115 closed

[2019-04-16 20:37] #114 closed

[2019-04-21 04:22] tonysparks5000 commented on #113
His problem has made me feel like a crazy person!! Im using Ganache 2.0 gui and it seems like the problem is till here. should i switch to the cli? i just want to make sure my code works. properly test results .should i just use the ropsten test network?

[2019-04-21 18:45] alcuadrado commented on #113
Hey @tonysparks5000. I'm sorry things aren't working as expected for you. Can you please provide more information about what's going wrong? Or better yet, can you open another issue? Thanks!

[2019-04-23 14:07] #123 closed

[2019-04-23 14:49] alcuadrado commented on #139
I experienced the same problem. I believe it was due to `ethereumjs-testing` using [`asyncwait`](https://github.com/yortus/asyncawait), which in turn depends on `fibers`.

`ethereumjs-testing` doesn't use `asyncawait` anymore, so this problem goes away with updating it. That has been done in #145. I'll create a small PR based on that branch adding node 11 to `.travis.yml`.

[2019-04-26 14:10] arunsybex commented on #85
@eswak how to add "data" in raw hex ?

I tried like this

{ "data":"0xc6427474000000000000000000000000be443e281a2d02fc76c7702c6143be660aa094b10000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000006000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000",

[2019-04-29 19:22] alcuadrado opened #149 "Simplify Transaction constructor's options"
There are multiple ways to set the chain that a transaction belongs to, this can/should be simplified.

I'm opening this issue as a continuation of the discussions that happened [here](https://github.com/ethereumjs/ethereumjs-tx/pull/131#issuecomment-478304415), [here](https://github.com/ethereumjs/ethereumjs-tx/pull/145#discussion_r278845954), and [here](https://github.com/ethereumjs/ethereumjs-t

[2019-05-05 16:23] shahafn commented on #140
Why is this issue closed? we still get this bug on version 1.3.7
tx hash: 8f610cb46763e02cab5e1f7d0ac5c85a6f3c320f9b50ac66cb2e8effd096092c
private key: cf5de3123d7ee4e0c66761793f1cc258324ecdf677fe3422e4cd0d87b9132322
wrong sig:
1c
29c71cb3d3c9c85e15c03f396e8a9da5fb521f6e1d738cb2c321456f86314576
45a32cfcfe114025720ad8d9c20b6d89d37ac51b9220148930fadd2e5393c9
correct sig:
1c
29c71cb3d3c9c85e15c03f396

[2019-05-06 00:41] alcuadrado commented on #140
@shahafn can you provide all of the transaction values?

[2019-05-07 20:01] shahafn commented on #140
I don't have this particular transaction, but it is still the case that the above tx hash & private key produce this signature. Isn't it possible to inject this tx hash to your signature algorithm to reproduce it?

[2019-05-07 23:19] alcuadrado commented on #140
Do you know how you got that hash at least? Was it a tx id?

[2019-05-08 10:56] alex-forshtat-tbk commented on #140
That is actually pretty easy to get a transaction whose signature will have 'r' or 's' shorter than 32 bytes. I ran this code in a truffle console and it took seconds:
`var t = require("ethereumjs-tx")
var f = function(nonce) { var b = Buffer.from("4f3edf983ac636a65a842ce7c78d9aa706d3b113bce9c46f30d7d21715b23b1d", "hex"); var tx = new t({nonce: nonce}); tx.sign(b); return tx; }
var res; var i =1;

[2019-05-08 14:53] drewstone commented on #140
Can confirm that I have `Invalid Signature` errors though they're not as informative as telling me what exactly is the issue. With certain functions in my contract, signing works, and with others it does not work.

[2019-05-08 14:55] sc0Vu commented on #140
I close it because there is an option called `allowLess`. If `allowLess` is true, it will remove all the lead zero bytes.

For example:
[code]

If you check the fields options, only `data` and `to`  is false.

[code]

Seems like we have to check the length by ourselves.

[2019-05-08 19:03] rajeshsubhankar opened #150 "tx.hash vs keccak256"
[code]

I was expecting both the log output to be the same. Am I missing something?

[2019-05-09 19:59] alcuadrado commented on #150
Hey @rajeshsubhankar! There are multiple issues with your code:

1. If you pass a string to `keccak256`, it won't interpret at hexa, you have to do that yourself.
2. Same happens with `Transaction`'s constructor unless you have a `0x` prefix.
3. The RLP encoded data you have, `hexData`, includes values for the tx signature (a default `v`, and empty `r` and `s` byte arrays). You are signing the who

[2019-05-09 19:59] #150 closed

[2019-05-09 20:21] alcuadrado commented on #142
I'm closing this issue now that #145 is merged.

[2019-05-09 20:21] #142 closed

[2019-05-09 21:43] alcuadrado commented on #140
@sc0Vu this is related with `allowLess`, removing it will break this library. Many signatures will be invalid.

RLP expects numbers to be big-endian without leading zeros, that's why they are removed. This is intended behavior, at least for now.

IMO the internal representation is too coupled with the RLP serialization and leads to confusing situations like this. But changing this would be a major

[2019-05-10 10:03] #139 closed

[2019-05-10 10:06] holgerd77 commented on #150
Can we eventually transform experiences from this issue into some better overall or code documentation?

[2019-05-10 12:35] s1na commented on #140
@alcuadrado Hm, not sure I had faced this exact issue before.

Fully agree with this. And yeah I can imagine de-coupling them would be a bigger task than this issue, but I think we should pursue it nevertheless.

Currently the `sign` method modifies the internal state. What if additionally we also return a signature object (which doesn't strip preceding zeros)?

[2019-05-10 13:23] s1na opened #151 "Breaking up the Transaction class"
Created this issue to continue the discussion started in #142 and to garner feedback whether you think this'd make sense. Here's a rough sketch of one (non-breaking) approach that comes to my mind:

Make [TxData](https://github.com/ethereumjs/ethereumjs-tx/blob/master/src/types.ts#L24) a class, and use it to store the actual data for the transaction, plus methods for serialization/deserialization.

[2019-05-10 14:12] alcuadrado commented on #150
There's not much we can do about (1).

(2) will be better once https://github.com/ethereumjs/ethereumjs-util/pull/197#issuecomment-491231998 is merged and available in all the libraries.

(3) is more complex. Let me explain why.

`tx.hash(false)` shouldn't be part of the public API. It's used internally, but it makes no sense to use it externally.

A refactor transforming `tx.hash(true)` into `tx.

[2019-05-10 14:18] alcuadrado commented on #150
Maybe we should concentrate this discussion in #151

[2019-05-10 14:28] alcuadrado commented on #140
I saw that you opened #151, let's move this discussion there.

@sc0Vu I updated your first message with an explanation about this. I'm closing this again.

**If someone encounters the same problem, please see my note in the first message of this issue.**

[2019-05-10 14:58] alcuadrado commented on #151
I see the issues in #140 and #150 related to this one, and that's why I proposed moving those conversations here.

IMO the problems we are seeing come from a few design desitions:

1) The internal representation of the transaction values is completely coupled to RLP. This leads to confusing things, like leading 0s being removed unexpectedly.

2) Unsigned transactions have bogus signatures. This is

[2019-05-10 15:15] s1na commented on #151
Hm, you're right. It could be possible to have it non-breaking by having getters for values on `Transaction`. But that won't be an improvement to the current design...

@alcuadrado What do you propose? I think some breaking change is inevitable.

[2019-05-10 15:31] alcuadrado commented on #151
A good way to move forward may be to do a clean redesign of the library, and then evaluate if it makes sense to replace it entirely or only we want part of the changes. There's the possibility of some work not ending up in the library, but we get to experiment with solving all those things.

I can do this if we agree that it's something that we want to do.

@danjm, you mentioned in #142 that you h

[2019-05-11 13:43] rajeshsubhankar commented on #151
I have 2 use cases where I struggled to understand how the library works.

### Use case 1 (no EIP-155 support):
I want to get the `rlp` encoded serialized transaction data without `v,r,s` which I will hash and sign in some different platform.
__expectation__: `tx.serialize(false).toString('hex')`
__currently__: `RLP.encode(tx.raw.slice(0, 6)).toString('hex')`

Once I receive the signature, I shoul

[2019-05-13 09:35] holgerd77 opened #152 "EIP-155 support/no support use case questions"
Reposted from @rajeshsubhankar comment in #151:

I have 2 use cases where I struggled to understand how the library works.

### Use case 1 (no EIP-155 support):
I want to get the `rlp` encoded serialized transaction data without `v,r,s` which I will hash and sign in some different platform.
__expectation__: `tx.serialize(false).toString('hex')`
__currently__: `RLP.encode(tx.raw.slice(0, 6)).toStri

[2019-05-13 09:37] holgerd77 commented on #151
Hi @rajeshsubhankar, your comment had absolutely nothing to do with the issue discussed here, please make sure that you do comments or open issues where it fits.

Have deleted your post and re-posted as a new issue, see above.

[2019-05-14 11:59] holgerd77 commented on #149
Another question I have related to this: how justified is this constructor option split into "data" and "opts" dictionaries?

[2019-05-14 16:30] alcuadrado commented on #152
@rajeshsubhankar could you provide more context?

What motivates use case 1?

About use case 2, I can see your frustration. The chainId is only computed in the constructor, not if you modify the `v` value.

[2019-05-14 16:33] alcuadrado commented on #151
I agree with moving that to a different issue, but we should note that what @rajeshsubhankar describes as "Use case 2" is important for this discussion.

Basically, he is having problems with setting and verifying a signature after constructing the TX object. The problem is that the TX object only computes the chainId on construction, not on the `v` setter.

[2019-05-14 16:36] alcuadrado commented on #149
I think they were separated because of how `defineProperties` work. But I don't have enough knowledge about the history of this library.

[2019-05-14 21:00] holgerd77 commented on #149
@alcuadrado ah ok, I think I already stumbled upon that one but forgot again, thanks!

[2019-05-16 16:15] rajeshsubhankar commented on #152
@alcuadrado In my use case, multiple parties are involved to verify the transaction by referring RLP serialized data with the actual user request before they hash and sign it.

If the transaction is not yet signed, RLP serialized data with an empty signature doesn't make any sense as well right?

[2019-05-16 19:59] alcuadrado commented on #152
@rajeshsubhankar just to be sure, what would expect from `rx.serialize()` if the tx hasn't been signed?
`rlpEncode([nonce, gasPrice, gasLimit, to, value, data])`?

[2019-05-17 18:19] alcuadrado commented on #152
@rajeshsubhankar I think you would find #153 interesting. It simplifies the TX's constructor and the EIP155 logic.

The relevant changes to there are:
* EIP155 is enabled by default after spurious dragon
* Serializing an unsigned transaction now returns `rlp.encode([nonce, gasPrice, gasLimit, to, value, data, <empty buffer>, <empty buffer>, <empty buffer>])`
* The chain id is always computed from

[2019-05-18 17:04] alcuadrado commented on #151
Hey @s1na, I created PR #154 to explore one possibility of what we can do with this and other libraries.

The idea of that PR is to keep everything as explicit as possible. Transaction APIs now work with buffers, with the only exception of static factory methods added for the users' convenience.

In this new version, transactions aren't immutable either, but only `sign` and the setters mutate them

[2019-05-21 17:52] #149 closed

[2019-05-23 07:58] rajeshsubhankar commented on #152
Thanks @alcuadrado for clarifying all my doubts.

[2019-05-23 09:45] alcuadrado commented on #152
Your welcome @rajeshsubhankar! :)

Just note that the changes in #153 haven't been released yet. A new major version will be out soon, which will include them.

I'm closing this issue now. Feel free to open a new one.

[2019-05-25 20:07] #152 closed

[2019-05-25 20:11] alcuadrado commented on #137
Hey @aaroncolaco and @danoctavian,

We changed the behavior of this library with respect to EIP155. It now enables the replay-protection mechanism by default, but users can opt-out from that. You can take a look at #149 and #152 to read more about the changes.

I'll close this issue as it's now outdated. Feel free to open a new one.

[2019-05-25 20:11] #137 closed

[2019-05-25 20:21] alcuadrado commented on #90
Hi @jwasinger,

A possible fix local to this library was developed in #144, but after discussing it, we decided to fix this in `ethereumjs-util`. This alternative fix has already been merged but hasn't been released yet. You can take a look at it here: https://github.com/ethereumjs/ethereumjs-util/pull/197

[2019-05-27 20:22] alcuadrado commented on #90
I'm closing this issue. If someone encounters this problem after version 2 is released please open a new issue.

[2019-05-27 20:22] #90 closed

[2019-06-03 21:44] Naderakhlagh opened #158 "Send ethereum"
const transactionParameters = {
  nonce: '0x00', // ignored by MetaMask
  gasPrice: '0x09184e72a000', // customizable by user during MetaMask confirmation.
  gasLimit: '0x2710',  // customizable by user during MetaMask confirmation.
  to: '0x0000000000000000000000000000

000000000000', // Required except during contract publications.
  from: web3.eth.accounts[0], // must match user's active addres

[2019-06-04 09:23] holgerd77 commented on #158
Too low effort on problem description, will close.

[2019-06-04 09:23] #158 closed

[2019-06-10 23:28] frankiebee opened #159 "is version 2.0.0 no longer a constructor?"
node -v
v8.15.1

im running old test that would pass with version: 1.3.7 and after updating to version 2.0.0 i get this error: `TypeError: EthjsTx is not a constructor`

code:

[code]

maybe i'm doing something wrong here? or a breaking change i'm missing? will dig a little bit longer but thought i might just point this out for now

[2019-06-10 23:30] frankiebee commented on #159
lol just saw the major change woof sorry

[2019-06-10 23:30] #159 closed

[2019-06-11 13:44] furkandemireleng opened #160 "Tx is not a constructor"
Hey guys !
I just try to work with Ropsten network

`var Tx = require('ethereumjs-tx')
const Web3 = require('web3')
const web3 = new Web3('https://ropsten.infura.io/v3/1a9bb467fd9e4f6c809eac78f730f565')
//try to make a node
//now we try to test network

const account1 ='0xC41F7b463afA880CFda9A07a7713fC052984191C'
const account2 = '0x0995a5Db39dB3C9a81aECEA661CE63AeDc7aB8eF'

const private_Key_1 =

[2019-06-11 21:32] alcuadrado commented on #160
This should be replaced for `var Tx = require("ethereumjs-tx").Transaction`.

[2019-06-12 08:36] furkandemireleng commented on #160
Thanks it works !

[2019-06-12 09:17] furkandemireleng opened #161 "I can't see my hash value"
Hello I just interested in Ethereumjs and I try to make a transaction with my app.js file
Actually I just follow a tutorial on YouTube but the version changed . I also looked the documentation of EthereumJs but I still have problems .
Anyone can help me ?

Here's my code :

var Tx = require('ethereumjs-tx').Transaction
const Web3 = require('web3')
const web3 = new Web3('https://ropsten.infura.io/v

[2019-06-12 13:53] furkandemireleng commented on #161
I fix it because I can't connect the Ropsten test network.

[2019-06-12 13:53] #160 closed

[2019-06-12 13:55] alcuadrado commented on #161
I'm closing this issue, as @furkandemireleng said it's already fixed.

BTW, @furkandemireleng note that [web3.js](https://github.com/ethereum/web3.js) is a separate project.

[2019-06-12 13:55] #161 closed

[2019-06-15 21:58] n1c01a5 opened #162 "convert publicKey Buffer to String"
I would recover the public key from a transaction in a string format but the `getSenderPublicKey` method returns a `buffer` not a `string`.

How I can retrieve the public key in a `string` format?

Here is the code:

[code]

[2019-06-15 22:02] n1c01a5 commented on #162
Use `ethJsUtil.bufferToHex()`

[2019-06-15 22:02] #162 closed

[2019-06-18 16:05] holgerd77 opened #163 "Too restrictive chain setting in v2.0.0"
Just re-posting here since many will likely have the tx library as a starting point, see related issue on the common library, fix should be released soon (within 1-3 weeks) https://github.com/ethereumjs/ethereumjs-common/issues/54.

[2019-06-18 17:19] SurfingNerd commented on #140
Unfortunately there is still a issue with R & S values with leading zeros. i have created a detailed example that makes it easy to understand: https://gist.github.com/SurfingNerd/2be70efd789912b5a9a51d662c38ed40

[2019-06-18 19:15] alex-forshtat-tbk commented on #140
I couldn't disagree more with closing this issue and opening another, with a way larger scope and vaguely referencing this issue in it's description. This is a bug in a library, and if it is still there => this issue should remain open.

[2019-06-18 19:34] holgerd77 commented on #140
Will reopen.

[2019-06-18 19:54] alcuadrado opened #164 "Leading zeros are stripped from signature values"
I'm opening this issue mainly to document some unexpected behavior in this library: When signing a transaction, the `r` and `s` values get their leading zeros removed.

This behavior doesn't invalidate the signatures, but can make comparing them non-obvious, as using `Buffer.prototype.equals` can give false negatives. As a workaround, [ethereumjs-util's stripZeros](https://github.com/ethereumjs/et

[2019-06-18 19:56] alcuadrado commented on #140
I created https://github.com/ethereumjs/ethereumjs-tx/issues/164 that documents this behavior.

[2019-06-19 12:02] SurfingNerd commented on #164
web3.eth.accounts.recoverTransaction(serializedTx) is also one of the methods that is unable to deal with the shorter zero-prunned RLP Encoded strings.
Example: https://gist.github.com/SurfingNerd/2be70efd789912b5a9a51d662c38ed40

[2019-06-21 00:08] jdiegosierra opened #165 "Error: Node error: {"code":-32000,"message":"invalid sender""
I get this error making a typic signed call method transaction when I use _ethereumjs-tx_ version 2.0.0, however It works well with  1.3.7.

PD. When I was working in geth node I also tryed settng the values of ChainID and NetworkID to the same value.

`Error: Node error: {"code":-32000,"message":"invalid sender"}`

Library versions:
   node v10.15.3
  "web3": "^1.0.0-beta.55"
  "ethereumjs-tx": "

[2019-06-22 05:47] holgerd77 commented on #163
Might be related: https://github.com/ethereumjs/ethereumjs-tx/issues/165

[2019-06-22 05:52] holgerd77 commented on #163
@alcuadrado We should also do an updated release here (I would have a tendency for `v2.1.0` to make this relatively visible, since this is a pretty heavy restriction) with an explicitly updated `Common` dependency, so it is made sure people have a working version installed. Can you do that? Eventually combine the update and release PR for ease of review.

Can you also add some explicit notes to th

[2019-06-22 05:57] holgerd77 commented on #165
@jdiegosierra Thanks for reporting this!

We have an apparent issue on too restrictive chain settings for `v2.0.0` - originally caused within the chain/HF selecting Common library - see linked issue above - this here might be related.

What is `PD` as abbreviation? Do you think the network and chain ID setting you did is related here or did you mentioned this as a separate thing? To what values di

[2019-06-23 17:22] jdiegosierra commented on #165
Ups. Sorry.. PD means "Post Scriptum" in Spanish. Just a mistake!

I triyed settng the values of ChainID and NetworkID to the same value because I read this https://github.com/ethereum/web3.js/issues/1040. I tryed all what they said in the issue but I always got the same error.

[2019-06-24 04:58] sharf521 commented on #165
const tx = new EthereumTx(txParams,{'chain':'ropsten'})

[2019-06-24 20:10] alcuadrado commented on #165
Hola @jdiegosierra!

I just submitted a PR that has [an example of how to create ropsten transactions](https://github.com/ethereumjs/ethereumjs-tx/blob/4f3d3668125c0ede83f1f61537c78871d95aaf25/examples/ropsten-tx.ts). It's basically what @sharf521 :)

[2019-06-25 10:55] jdiegosierra commented on #165
Thx @sharf521 & @alcuadrado !!

[2019-06-25 10:55] #165 closed

[2019-06-26 07:43] nbleoncc opened #167 "Error: Node error: {"code":-32000,"message":"invalid sender"}"
can someone help me out this error?

const Web3 = require('web3');
const EthereumTx = require('ethereumjs-tx').Transaction

if (typeof web3 !== 'undefined') {
    web3 = new Web3(web3.currentProvider);
} else {
    // set the provider you want from Web3.providers
    web3 = new Web3(new Web3.providers.HttpProvider("https://ropsten.infura.io/v3/c7c960727b5b41f380e1a1131dfe5ea9"));
}

const privateK

[2019-06-26 11:25] holgerd77 commented on #167
There was a pretty similar issue opened and answered some days ago, please have a look: https://github.com/ethereumjs/ethereumjs-tx/issues/167

Will close, feel free to reopen if this doesn't solve it.

[2019-06-26 11:25] #167 closed

[2019-06-26 21:15] alcuadrado commented on #164
Hi @SurfingNerd, thanks for investigating this issue, and the reproduction script.

I suspect that this is a bug in web3, as it's probably treating `r` and `s` as bytearrays, while the yellow paper says that they are numeric values. In RLP numeric values must have their left-side zeros removed.

How did you create/obtain that transaction? it would be really helpful to know this.

@nivida, have you

[2019-06-26 21:24] #163 closed

[2019-06-26 22:24] Skyge commented on #167
@holgerd77 Please correct the solution location, it is #165.

[2019-06-26 22:27] holgerd77 commented on #167
@Skyge Sorry, thanks, updated.

[2019-06-26 23:23] Skyge commented on #165
Why should we specific the parameter: `chain` at the version 2.0.0, if I use 1.3.7, I do not have got to write the parameter: `chain`.

[2019-06-27 00:11] alcuadrado commented on #165
Version 1.x had some really complicated logic to manage this, which lead to multiple bugs. v2 makes things more explicit, but also more robust.

[2019-06-28 12:45] d10r commented on #164
@alcuadrado I came to the same conclusion, thus reported it at web3.js: https://github.com/ethereum/web3.js/issues/2902

[2019-07-01 20:19] alcuadrado commented on #164
Thanks @d10r! This is being tracked in https://github.com/ethereum/web3.js/issues/2777

[2019-07-04 14:33] alcuadrado opened #169 "Parsing raw transactions is complicated in 2.x"
I'm upgrading this library in [Buidler](https://github.com/nomiclabs/buidler/), and found that parsing raw (i.e. RLP encoded) transactions can be challenging.

If the transaction is signed using EIP155, you need to know its `chainId` to call the `Transaction` constructor. This requirement may not be realistic, as you have to parse the tx to get its `chainId`, and you parse it by calling that const

[2019-07-06 14:36] holgerd77 commented on #169
Oh, that really looks a bit ugly. 🤨

With `isStandardChain` you mean a supported chain? Would directly using `isSupportedChain` be more straight-forward? I find this terminology "standard" a bit blurry (I first thought of: officially EF initiated chains or something). Otherwise I find the addition from 1. useful.

I would also cautiously think that the static factory way suggested in 2. also makes

[2019-07-06 14:43] alcuadrado commented on #169
Yes, supported chain sounds much better. I didn't like the `standard` term, thanks!

I'm also thinking that we could instruct other chains to release their version of `-common`, so people could use them just with an import:

[code]

This can be promoted by adding documentation and a boilerplate/template repo doing it. We are using [the boilerplate strategy for Buidler](https://github.com/nomiclabs

[2019-07-29 16:50] SurfingNerd commented on #164
@alcuadrado i obtained this signature by an [Infineon security2go smart card](https://github.com/Infineon/Blockchain).

[2019-08-23 08:07] lastmjs opened #170 "Add Ethereum name or address to package.json"
I would like to see an Ethereum name or address added to the `ethereum` field of the package.json file. This will allow consumers of the project to know a cannonical address to send funds to, for example donations.

I'm building an application that will allow developers to automatically donate ETH to all of their npm dependencies that have Ethereum addresses in their package.json files. I'm not qu

[2019-09-04 23:50] mayeaux opened #174 "Transaction being reverted by EVM during contract creation (Web3 / ethereumjs-tx)"
Hey guys I am running into an issue deploying a smart contract with Web3 to the Ropsten network. The code is running seemingly correctly, and there is a contract address being created, but if I check the transaction hash on Etherscan it shows that there has been an error in executing the contract. I don't think it's the contract itself as I've tested a couple contracts and they both have the same

[2019-09-08 03:20] alcuadrado commented on #174
Hey @mayeaux,

The problem is that you are trying to deploy a contract, but sending the incorrect `data` field. You should set it as the contract's `bytecode`. You are using a `transfer` call input instead.

[2019-09-17 09:51] holgerd77 opened #175 "Update test runner to run the official Istanbul transaction tests"
Official transaction tests from `ethereum/tests` [have now been merged](https://github.com/ethereum/tests/pull/633).

The library should be updated to run those tests.

[2019-09-17 10:19] PHPJourney opened #176 "TypeError: require('ethereumjs-tx') is not a constructor"
This packages version 2.1.1
const EthereumTx = require('ethereumjs-tx');
new EthereumTx(rawTx, {chain: "rinkeby", hardfork:"byzantium"});

I'm initialize this Object get this wrong.
`TypeError: EthereumTx is not a constructor`

at the same time. I const EthereumTx from require('ethereumjs-tx').Transaction.

call normal.

However, the signature result cannot be broadcasted to the chain normally, an

[2019-09-17 13:05] alcuadrado commented on #176
Hi @PHPJourney,

Is your problem that you can't broadcast a tx or that you get a `TypeError`? The issue's title indicates the latter, but you seem to have already realized how to import this library.

If you are trying to get help about how to sign and broadcast a tx you should provide more info about what you are trying to do.

I suspect your problem is related to this anyway:

[code]

[2019-09-18 03:35] PHPJourney commented on #176
hello @alcuadrado
What I'm rather confused about TypeError is why many of the examples I've seen before use require ('ethereumjs-tx'). And I need to state the method name.

In addition, when signing broadcasting, I can normally get the signature result and broadcast, but after waiting for a period of time, the transaction ID record is lost.

Here's my actual signature process

Call

[2019-09-21 09:50] #176 closed

[2019-09-21 09:51] PHPJourney commented on #176
my nonce is Wrong

[2019-09-21 18:25] PHPJourney opened #177 "the request of a dependency is an expression"
WARNING in ./node_modules/web3-eth-accounts/src/scrypt.js
17:50-60 Critical dependency: the request of a dependency is an expression
 @ ./node_modules/web3-eth-accounts/src/scrypt.js
 @ ./node_modules/web3-eth-accounts/src/index.js
 @ ./node_modules/web3-eth/src/index.js
 @ ./node_modules/web3/src/index.js
 @ ./src/utils/common.js
 @ ./src/main.js

I'm try use electron build. give me this warning

[2019-09-21 21:05] alcuadrado commented on #177
This is a Web3.js issue, please report it [there](https://github.com/ethereum/web3.js/).

[2019-09-21 21:05] #177 closed

[2019-09-25 14:00] miohtama opened #178 "Wrong getSenderAddress() when getting v, r, s from Ledger HW"
Hi,

I need help to understand why `tx.getSenderAddress()` returns different value than what Ledger hw device uses for signing.

I am managing to sign a transaction using Ledger. All good, but when the signed transaction comes back from the ledger, `tx.getSenderAddress()` is incorrect. Also, broadcasting the transaction is not possible. I am trying to figure out what goes wrong and I am out of ide

[2019-10-02 17:00] jinglics opened #179 "Invalid sender using for Ethereum Classic"
Using offline-sign of ETC transaction, Get "Invalid sender" error when sending raw transaction to network.

How to set the parameters for ETC tx? In the older version, no parameter is required for ETC I remembered.

[2019-10-06 16:53] parin13 opened #180 "TypeError: Common.forCustomChain is not a function"
Trying to connect to custom  chain cause problem:

My code snippet:

[code]

error:
[code]

[2019-10-09 00:44] olegabr opened #181 "TypeError: finished is not a function"
Look at this issue for details please: https://github.com/trufflesuite/truffle/issues/2431

[2019-10-09 01:13] alcuadrado commented on #181
This library has no `finished` method nor property. I don't see how this issue can belong here. Can you clarify, please?

[2019-10-09 01:35] olegabr commented on #181
Maybe @eggplantzzz as an author of this fix (https://github.com/trufflesuite/truffle/pull/2438) can clarify here.

[2019-10-09 10:12] parin13 commented on #180
for Nodejs its
`const Common = require('ethereumjs-common').default;
`

[2019-10-09 10:12] #180 closed

[2019-10-09 16:57] eggplantzzz commented on #181
@olegabr Actually this is an issue with Truffle. In Truffle, `ethereumjs-tx` was bumped a major version without the necessary adjustments to the surrounding code, thus introducing a bug. This is not an issue with `ethereumjs-tx`. :)

[2019-10-10 13:22] olegabr commented on #181
@eggplantzzz, Thank you for explanation!

[2019-10-10 13:22] #181 closed

[2019-11-02 08:48] holgerd77 commented on #178
Hi @miohtama, sorry, we are currently under-staffed, seems that no one had time to dig deeper here. Did you find a solution/fix/explanation for the problem in the mean time? Would be helpful for others if you post here.

[2019-11-02 08:52] holgerd77 commented on #179
Hi @jinglics, not sure about the behavior before the `v2.0.0` release, but Ethereum Classic is not officially supported by this library. You might want to have a look into the [custom chain example code](https://github.com/ethereumjs/ethereumjs-tx/blob/master/examples/custom-chain-tx.ts), eventually initializing with the Ethereum Classic chain ID 61 helps? Would be nice if you can repost here your

[2019-11-02 08:52] #179 closed

[2019-11-06 09:06] fastchain commented on #108
Ganache CLI v6.7.0 (ganache-core: 2.8.0)

same issue

[2019-11-06 15:09] alcuadrado commented on #108
I think you should report this in https://github.com/trufflesuite/ganache-core @fastchain, as it's using an old version of this library, and upgrading it probably fixes it.

[2019-11-07 04:55] saarshah opened #182 "Transaction failed upon updation of contract state variable"
I have deployed my following contract to ropsten network, making some transaction ok. when I consumed all my tokens (totalSupply) and confirmed it. After confirmation, i call setTotalSupply. But when i called setTotalSupply (through making trx with value =0, value=100gwei or without value parameter .. all are in vein...  my error is given below;

[code]
and here is my .js file

var Tx = require('e

[2019-11-07 10:52] holgerd77 commented on #182
I think atm no one of the current maintainers will have time to debug and analyze such complex usage example beside everyday maintenance work TBH. Please report if you find a solution here, thanks!

[2019-11-07 13:51] alcuadrado commented on #182
Hey @saarshah!

I almost sure that your problem is that you are sending value to a [non-payable function](https://medium.com/@rsripathi781/6-payable-functions-in-solidity-smartcontract-ethereum-d2535e346dc1). I noticed this because [your transaction](https://ropsten.etherscan.io/tx/0x730c7466c7681b7f214316c9e93f8bcfdc631260b13afddc91202d6c3854e66d) had some ETH. The only other things that can make

[2019-11-07 13:51] #182 closed

[2019-11-09 03:19] saarshah commented on #182
yes making payable works thanks

[2019-11-27 17:43] evertonfraga opened #183 "Migrate ethereumjs-tx from Travis to Github Actions"
As we've been [planning to move over to a monorepo](https://github.com/ethereumjs/ethereumjs-vm/issues/561), we can start it by migrating their CIs to the same service.

[2019-12-09 17:06] #183 closed

[2019-12-17 08:04] saarshah opened #189 "How to get return value of smart contract by calling encoded function"
I have encoded function of my smart contract, which has methodID and parameters i.e. 0xf7ea7a3d4000000000000000000015000000000000000000ff7f0000b200000000f7ea7a............... Suppose, in this encoded function, there are also two arguments , one is uint and other is string. This encoded function actually is a getter (not changing status) of my contract (means in ABI its stateMutability =view) and a

[2019-12-17 16:54] ryanio commented on #189
Hi @saarshah, unfortunately this is not a support forum so in the future the best place to ask and have your questions answered would be: https://ethereum.stackexchange.com

In my experience the easiest way to call the getter function you are looking for would be to instantiate the contract with web3.js using the `jsonInterface` and `address`:

[code]

[Docs link](https://web3js.readthedocs.io/en/

[2019-12-17 16:54] #189 closed

[2019-12-18 00:51] saarshah commented on #189
Thanks for your answer... I already asked there, but no one is replying... I think, you did't got my point... I am asking help for my scenario, not for available easiest options....  i know them all. My scenario is to call contract function (which is in encoded form with all its parameters), **can you please reconsider my question ?** May be my question is demanding new feature, since I think, **t

[2019-12-18 16:23] alcuadrado commented on #189
@saarshah I understand your frustration, but I think @ryanio was right on closing this issue. Your question is not related to this library.

What you are looking for is probably [`eth_call`](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_call). You should call it manually through your web3 provider, using the encoded sig+params as `data`.

[2020-01-11 20:39] picatextra commented on #178
I'm having the same issue,
https://github.com/LedgerHQ/ledgerjs/issues/436

[2020-01-12 19:34] picatextra opened #193 "Sign transaction with ledgerjs"
It's no longer possible to use ethereumjs-tx to build a raw transaction for signing with ledgerjs :
signTransaction needs v=1,
but serialize() will throw an error 'Incompatible EIP155-based V 1"...

[2020-01-12 23:55] alcuadrado commented on #193
Hey @picatextra

Can you post a reproduction scrit? That should be working.

[2020-01-13 03:40] agopwns commented on #160
Thanks it works 2

[2020-01-13 07:02] picatextra commented on #193
see https://github.com/LedgerHQ/ledgerjs/issues/436

[2020-01-13 07:04] picatextra commented on #193
txHex will end with 808080, but we want 018080

so my patch is :
`txHex = txHex.substring(0,txHex.length-6)+'018080';`

[2020-01-13 16:13] alcuadrado commented on #193
Thanks for your reply @picatextra. Can you post the entire error you are getting?

[2020-01-13 16:55] picatextra commented on #193
i can tell the breakpoint was at transaction.js line 310

[2020-01-13 22:48] #175 closed

[2020-01-15 20:46] ryanio commented on #101
I have been looking into this.

From my understanding when constructing a `Transaction` object this lib does not accept a `from` to store the sender address but instead computes it from the signature in `verifySignature()` and assigns it to ` this._senderPubKey`.

I understand why OP is confused because he is in fact right that the method does not verify the signature against a separately passed `

[2020-01-22 10:21] realtebo opened #194 "How to create txparams.data ?"
Your examnple

[code]

How to create data having contract abi and params value!?

[2020-01-22 19:07] alcuadrado commented on #194
Hi @realtebo,

You need to encode your function call according to Ethereum's ABI. You can use this library for this: https://github.com/ethereumjs/ethereumjs-abi

You should probably web3.js or ethers.js, as they are higher level libraries than this one.

I'm closing this issue. Feel free to comment if you have other doubts.

[2020-01-22 19:07] #194 closed

[2020-01-23 08:12] realtebo commented on #194
Thanks.

Googling I found a LOT easier solution... I found encodeABI() function in the web3js official library

[2020-02-09 11:25] jafri opened #196 "Accepts 39 character addresses"
There appears to be a tolerance in the address fields to accept 39 character fields, instead of enforcing 40 characters

For example, both of these are valid in the library

0xf79b834a37f3143f4a73fc3934edac67fd3a01c
0xf79b834a37f3143f4a73fc3934edac67fd3a01cd

[2020-03-10 13:40] linkdesu opened #197 "Transaction.validate may have some errors in calculating the gas limit"
https://github.com/ethereumjs/ethereumjs-tx/blob/1a938caa70521cc348de4b3670b960b0d42cae44/src/transaction.ts#L323

If you calculate gas limit for the transaction below with json rpc `eth_estimateGas`, you will get gas limit **22124**. But the `Transaction.validate` method throws error `Signer Error: gas limit is too low. Need at least 25608`.

[2020-03-16 22:48] STYJ commented on #193
The issue is with ledger not returning an EIP155 compliant signature so you'll need to convert the signature yourself. Take a look at [MEW's implementation](https://github.com/MyEtherWallet/MyEtherWallet/blob/master/src/wallets/hardware/ledger/index.js#L62).

[2020-03-31 19:30] alcuadrado commented on #197
Hey @linkdesu,

Can you provide more info about this? Which node where you connected to?

Thanks!